<footer id="site-footer">
    <div class="container">
      <div class="column-wrapper">
        <div class="footer-col info-company">
          <div id="logo" class="logo">
            <a href="<%= baseUrl %>">
              <span>VšĮ "Prasmingam gyvenimui"</span>
            </a>
          </div>
          <p class="company-desc-1">Kelionės autobusu - Jūsų Prasmingam gyvenimui</p>
          <h3 class="company-desc-2">Džiaugiamės, kad domitės mūsų pasiūlymais!</h3>
        </div>
        <div class="footer-col info-contact">
          <h3 class="info-header">Susisiekime</h3>
          <div class="contact-info">
            <a href="tel:37065955770">
              <img class="icon" src="<%= baseUrl %>/img/phone-svgrepo-com-white.svg" />
              <span>(+370) 659 55770</span>
            </a>
            <a href="mailto:info@prasmingas.lt">
              <img class="icon" src="<%= baseUrl %>/img/mail-svgrepo-com-white.svg" />
              <span>info@prasmingas.lt</span>
            </a>
          </div>
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100080044436184">
              <img class="icon" src="<%= baseUrl %>/img/facebook-svgrepo-com-white.svg" />
            </a>
            <a href="#">
              <img class="icon" src="<%= baseUrl %>/img/instagram-svgrepo-com-white.svg" />
            </a>
          </div>
          <div class="work-hours">
            <p>I-V 9-13 val.</p>
            <p>IV-VII nedirbame</p>
          </div>
        </div>
        <div class="footer-col info-link">
          <h3 class="info-header">Struktūra</h3>
          <a href="<%= baseUrl %>/apie-mus.html" class="link-item">Apie mus</a>
          <a href="<%= baseUrl %>/kontaktai.html" class="link-item">Kontaktai</a>
        </div>
        <div class="footer-col info-trips">
          <h3 class="info-header">Kelionės</h3>
          <a href="<%= baseUrl %>/augustavas.html" class="link-item">Augustavas, Lenkija</a>
          <a href="<%= baseUrl %>/balstoge.html" class="link-item">Balstogė, Lenkija</a>
          <a href="<%= baseUrl %>/druskininkai.html" class="link-item">Druskininkai</a>
          <a href="<%= baseUrl %>/kursiu-nerija.html" class="link-item">Kuršių nerija</a>
          <a href="<%= baseUrl %>/vilko-guolis.html" class="link-item">Vilko guolis, Lenkija</a>
          <a href="<%= baseUrl %>/zarasai.html" class="link-item">Zarasai</a>
          <a href="<%= baseUrl %>/zemaitija.html" class="link-item">Žemaitija</a>
        </div>
        <div class="footer-col info-more-links">
          <h3 class="info-header">Informacija</h3>
          <a href="<%= baseUrl %>/turizmo-paslaugų-sutartis.html" class="link-item">Turizmo paslaugų sutartis</a>
          <a href="<%= baseUrl %>/informacija-vartotojams-koronaviruso-laikotarpiu.html" class="link-item">Informacija vartotojams koronaviruso laikotarpiu</a>
          <a href="<%= baseUrl %>/es-projektai.html" class="link-item">ES projektai</a>
          <a href="<%= baseUrl %>/privatumo-politika.html" class="link-item">Privatumo politika</a>
          <a href="<%= baseUrl %>/informavimas-apie-asmens-duomenų-tvarkymą.html" class="link-item">Informavimas apie asmens duomenų tvarkymą</a>
          <a href="<%= baseUrl %>/kelionės-kolektyvams-po-lietuvą.html" class="link-item">Kelionės kolektyvams po Lietuvą</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom container">
      <p>&copy; 2025 Prasmingas. Visos teisės saugomos.</p>
    </div>
  </footer>