<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= baseUrl %>/css/range.css">
  <link rel="stylesheet" href="<%= baseUrl %>/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <div id="top-header" class="col-top-header">
          <div class="contact-info">
            <a href="tel:37065955770">
              <img class="icon" src="<%= baseUrl %>/img/phone-svgrepo-com.svg" />
              <span>(+370) 659 55770</span>
            </a>
            <a href="#">
              <img class="icon" src="<%= baseUrl %>/img/mail-svgrepo-com.svg" />
              <span>info@mail.com</span>
            </a>
          </div>
          <div class="top-header-links">
            <a href="<%= baseUrl %>/apie-mus.html">
              <img class="icon" src="<%= baseUrl %>/img/info-circle-svgrepo-com.svg" />
              <span>Apie mus</span>
            </a>
            <a href="<%= baseUrl %>/kontaktai.html">
              <img class="icon" src="<%= baseUrl %>/img/location-svgrepo-com.svg" />
              <span>Kontaktai</span>
            </a>
            <a href="<%= baseUrl %>/dashboard">
              <img class="icon" src="<%= baseUrl %>/img/user-svgrepo-com.svg" />
              <span>Login</span>
            </a>
          </div>
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100080044436184">
              <img class="icon" src="<%= baseUrl %>/img/facebook-svgrepo-com.svg" />
            </a>
            <a href="#">
              <img class="icon" src="<%= baseUrl %>/img/instagram-svgrepo-com.svg" />
            </a>
          </div>
        </div>
        <div id="main-header" class="col-main-header">
          <div id="logo">
            <a href="<%= baseUrl %>/index" class="logo">
              <span>VšĮ "Prasmingam gyvenimui"</span>
            </a>
          </div>
          <div id="menu">
            <a href="<%= baseUrl %>/autubusu.html">
              <img class="icon" src="<%= baseUrl %>/img/bus-svgrepo-com.svg" />
              <span>Autobusu</span>
            </a>
            <a href="<%= baseUrl %>/lietuvoje.html">
              <img class="icon" src="<%= baseUrl %>/img/flag-for-flag-lithuania-svgrepo-com.svg" />
              <span>Lietuvoje</span>
            </a>
            <a href="<%= baseUrl %>/uzsienyje.html">
              <img class="icon" src="<%= baseUrl %>/img/globe-svgrepo-com.svg" />
              <span>Užsienyje</span>
            </a>
            <a href="<%= baseUrl %>/garantuotos.html">
              <img class="icon" src="<%= baseUrl %>/img/approved-aproved-confirm-2-svgrepo-com.svg" />
              <span>Garantuotos</span>
            </a>
            <a href="<%= baseUrl %>/kaledines.html">
              <img class="icon" src="<%= baseUrl %>/img/christmas-tree-svgrepo-com.svg" />
              <span>Kalėdinės</span>
            </a>
          </div>
          <div id="search">
            <a href="#" id="searchIcon">
              <img class="icon" src="<%= baseUrl %>/img/search-svgrepo-com.svg" />
            </a>
          </div>
        </div>
      </div>
    </nav>
    <!-- end mobile search modal -->
    <!-- Mobile search modal -->
    <div id="searchMobile" class="hidden">
      <div class="search-container">
        <div class="search-content">
          <form action="<%= baseUrl %>/your-backend-endpoint" method="POST">
            <div class="data-input-container">
              <div class="data-input-col">
                <div class="data-input-field data-input-country">
                  <input type="text" placeholder="Kelionė arba šalis" name="tour" id="tour-name" autocomplete="off" class="country">
                </div>
                <div class="data-input-field data-input-transport">
                  <label class="checkbox-icon" title="Autobusu">
                    <input type="checkbox" class="select-only-one" name="transport" value="bus">
                    <span class="checkbody">
                      <span class="checkmark">
                        <img src="<%= baseUrl %>/img/bus-svgrepo-com.svg" />
                      </span>
                    </span>
                  </label>
                  <label class="checkbox-icon" title="Lėktuvu">
                    <input type="checkbox" class="select-only-one" name="transport" value="plane">
                    <span class="checkbody">
                      <span class="checkmark">
                        <img src="<%= baseUrl %>/img/airplane-svgrepo-com.svg" />
                      </span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="data-input-col">
                <div class="data-input-field data-input-date">
                  <div class="data-input-date-from">
                    <input type="date" placeholder="Data nuo" name="date_from" id="d1" class="date-from">
                  </div>
                  <div class="data-input-field data-input-date-to">
                    <input type="date" placeholder="Data iki" name="date_to" id="d2" class="date-to">
                  </div>
                </div>
                <div class="data-input-field data-input-tour-type">
                  <select name="travel_type" id="keliones-tipas" class="">
                    <option value="" selected>Kelionės tipas</option>
                    <option value="1">Pažintinės</option>
                    <option value="2">Poilsinės</option>
                    <!-- Add more options as needed -->
                  </select>
                </div>
              </div>
              <div class="data-input-col">
                <div class="data-input-field data-input-price-range">
                  <h3 class="range-title">Kelionės kaina</h3>
                  <div class="range_container">
                    <div class="form_control">
                      <div class="form_control_container">
                        <div class="form_control_container__time">Min</div>
                        <input class="form_control_container__time__input" type="number" id="fromInput" name="price_min" value="80" min="0" max="3999"/>
                      </div>
                      <div class="form_control_container">
                        <div class="form_control_container__time">Max</div>
                        <input class="form_control_container__time__input" type="number" id="toInput" name="price_max" value="3000" min="0" max="3999"/>
                      </div>
                    </div>
                    <div class="sliders_control">
                      <input id="fromSlider" type="range" value="80" min="0" max="3999"/>
                      <input id="toSlider" type="range" value="3000" min="0" max="3999"/>
                    </div>
                  </div>
                </div>
                <div class="data-input-field data-input-submit">
                  <button type="submit" class="btn-search-submit">
                    <img src="<%= baseUrl %>/img/search-svgrepo-com-white.svg" />
                    <span>Ieškoti</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end mobile search modal -->
  </header>
  <banner id="home-banner">
    <div class="site-banner">
      <div id="banner-headline" class="container">
        <h1 class="page-title">KELIONĖS AUTOBUSU</h1>
      </div>
      <div id="searchDesktop">
        <div class="search-container">
          <div class="search-content">
            <form action="<%= baseUrl %>/your-backend-endpoint" method="POST">
              <div class="data-input-container">
                <div class="data-input-col">
                  <div class="data-input-field data-input-country">
                    <input type="text" placeholder="Kelionė arba šalis" name="tour" id="tour-name" autocomplete="off" class="country">
                  </div>
                  <div class="data-input-field data-input-transport">
                    <label class="checkbox-icon" title="Autobusu">
                      <input type="checkbox" class="select-only-one" name="transport" value="bus">
                      <span class="checkbody">
                        <span class="checkmark">
                          <img src="<%= baseUrl %>/img/bus-svgrepo-com.svg" />
                        </span>
                      </span>
                    </label>
                    <label class="checkbox-icon" title="Lėktuvu">
                      <input type="checkbox" class="select-only-one" name="transport" value="plane">
                      <span class="checkbody">
                        <span class="checkmark">
                          <img src="<%= baseUrl %>/img/airplane-svgrepo-com.svg" />
                        </span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="data-input-col">
                  <div class="data-input-field data-input-date">
                    <div class="data-input-date-from">
                      <input type="date" placeholder="Data nuo" name="date_from" id="d1" class="date-from">
                    </div>
                    <div class="data-input-field data-input-date-to">
                      <input type="date" placeholder="Data iki" name="date_to" id="d2" class="date-to">
                    </div>
                  </div>
                  <div class="data-input-field data-input-tour-type">
                    <select name="travel_type" id="keliones-tipas" class="">
                      <option value="" selected>Kelionės tipas</option>
                      <option value="1">Pažintinės</option>
                      <option value="2">Poilsinės</option>
                      <!-- Add more options as needed -->
                    </select>
                  </div>
                </div>
                <div class="data-input-col">
                  <div class="data-input-field data-input-price-range">
                    <h3 class="range-title">Kelionės kaina</h3>
                    <div class="range_container">
                      <div class="form_control">
                        <div class="form_control_container">
                          <div class="form_control_container__time">Min</div>
                          <input class="form_control_container__time__input" type="number" id="fromInput" name="price_min" value="80" min="0" max="3999"/>
                        </div>
                        <div class="form_control_container">
                          <div class="form_control_container__time">Max</div>
                          <input class="form_control_container__time__input" type="number" id="toInput" name="price_max" value="3000" min="0" max="3999"/>
                        </div>
                      </div>
                      <div class="sliders_control">
                        <input id="fromSlider" type="range" value="80" min="0" max="3999"/>
                        <input id="toSlider" type="range" value="3000" min="0" max="3999"/>
                      </div>
                    </div>
                  </div>
                  <div class="data-input-field data-input-submit">
                    <button type="submit" class="btn-search-submit">
                      <img src="<%= baseUrl %>/img/search-svgrepo-com-white.svg" />
                      <span>Ieškoti</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </banner>
  <div id="main">
    <div class="container">
      <div id="section-title">Savaitės pasiūlymai</div>
      <!--start tour-->
      <div id="tours" class="col-tours">
        <% let row = 0; let count = -1; %>
        <% trips.forEach((trip) => { %>
          <% count++; %>
          <% if (count == 0 && row !==3) {%>
            <div id="tours-wrapper" class="row-tours">
          <% }else if (count !== 0 && count % 3 === 0) { %>
            </div>
            <div id="tours-wrapper" class="row-tours">
          <% } %>
          <article class="tour-item"> <!--root/main/Prasmingas/public -->
            <div class="tour-info">
              <div class="image">
                <img class="tour-img" src="<%= trip.trip_fotos[0] ? trip.trip_fotos[0].replace(/.*\/public\//, '/') : '' %>" alt="Trip Image">
              </div>
              <div class="marks">
                <span class="icon">
                  <% let temp = ""; %>
                  <% if (trip.trip_transport === "Autobusas") { %>
                    <% temp = baseUrl + "/img/bus-svgrepo-com.svg"; %>
                  <% } else if (trip.trip_transport === "Lektuvas") { %>
                    <% temp = baseUrl + "/img/airplane-svgrepo-com-white.svg"; %>
                  <% } %>
                <a href="<%= baseUrl %>/trip/<%= trip._id %>">
                    <img src="<%= temp %>" alt="Trip Image" />
                </a>
                </span>
                <span class="num-days">
                  <%= trip.trip_duration %><small>d.</small>
                </span>
              </div>
              <div class="price-mark">
                <% let lowestPrice = Infinity; %>
                <% let lowestPriceDiscount = 0; %>
                <% trip.trips.forEach(one => { %>
                  <% const cost = parseFloat(one.cost); %>
                  <% if (cost < lowestPrice) { %>
                    <% lowestPriceDiscount = one.discount; %>
                    <% lowestPrice = cost; %>
                  <% } %>
                <% }); %>
                <p class="price-info">nuo</p>
                <p class="price"><%= lowestPrice %></p>
              </div>
              <div class="discount-mark">
                <p class="discount-info">
                  <span class="discount-percentage">-<%= lowestPriceDiscount %></span> <small>%</small>
                </p>
              </div>
            </div>
            <div class="tour-dates-available">
              <div id="tour-content" class="tour-content-box">
                <div class="tour-title-box">
                  <a href="<%= baseUrl %>/trip/<%= trip._id %>">
                    <h3 hclass="tour-title"><%= trip.trip_name %></h3>
                  </a>
                  
                </div>
                <div class="tour-dates">
                  <% trip.trips.forEach((t) => { %>
                    <% let formattedDate = t.date.toISOString().split('T')[0]; %>
                    <div class="tour-date-content">
                      <div class="date">
                        <a href="<%= baseUrl %>/trip/<%=trip._id %>"><%= formattedDate %></a>
                        <%= t.time %>
                      </div>
                      <div class="free-places">
                        <% let seatsLeft = t.seatstotal - t.seatsoccupied.length %>
                        <span><small>liko <%= seatsLeft %> viet.</small></span>
                        <% if (seatsLeft < t.seatstotal / 2) { %>
                          <span class="guaranteed" title="Garantuotas išvykimas">G</span>
                        <% } %>
                      </div>
                      <div class="col-date-price">
                        <span class="date-price"><%= t.cost %> €</span>
                      </div>
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </article>
        <% }); %>
      </div>
      <!--end tour-->
    </div>
  </div>
  <footer id="site-footer">
    <div class="container">
      <div class="column-wrapper">
        <div class="footer-col info-company">
          <div id="logo" class="logo">
            <a href="<%= baseUrl %>/index-2.html">
              <span>VšĮ "Prasmingam gyvenimui"</span>
            </a>
          </div>
          <p class="company-desc-1">Kelionės autobusu - Jūsų Prasmingam gyvenimui</p>
          <h3 class="company-desc-2">Džiaugiamės, kad domitės mūsų pasiūlymais!</h3>
        </div>
        <div class="footer-col info-contact">
          <h3 class="info-header">susisiekime</h3>
          <div class="contact-info">
            <a href="tel:37065955770">
              <img class="icon" src="<%= baseUrl %>/img/phone-svgrepo-com-white.svg" />
              <span>(+370) 659 55770</span>
            </a>
            <a href="#">
              <img class="icon" src="<%= baseUrl %>/img/mail-svgrepo-com-white.svg" />
              <span>info@mail.com</span>
            </a>
          </div>
          <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=100080044436184">
              <img class="icon" src="<%= baseUrl %>/img/facebook-svgrepo-com-white.svg" />
            </a>
            <a href="#">
              <img class="icon" src="<%= baseUrl %>/img/instagram-svgrepo-com-white.svg" />
            </a>
          </div>
          <div class="work-hours">
            <p>I-V 9-13 val.</p>
            <p>IV-IIV nedirbame</p>
          </div>
        </div>
        <div class="footer-col info-link">
          <h3 class="info-header">Struktura</h3>
          <a href="<%= baseUrl %>/apie-mus.html" class="link-item">Apie mus</a>
          <a href="<%= baseUrl %>/kontaktai.html" class="link-item">Kontaktai</a>
        </div>
        <div class="footer-col info-trips">
          <h3 class="info-header">Kelionės</h3>
          <a href="<%= baseUrl %>/augustavas.html" class="link-item">Augustavas Lenkija</a>
          <a href="<%= baseUrl %>/balstoge.html" class="link-item">Balstoge Lenkija</a>
          <a href="<%= baseUrl %>/druskininkai.html" class="link-item">Druskininkai</a>
          <a href="<%= baseUrl %>/kursiu-nerija.html" class="link-item">Kursiu nerija</a>
          <a href="<%= baseUrl %>/vilko-guolis.html" class="link-item">Vilko guolis Lenkija</a>
          <a href="<%= baseUrl %>/zarasai.html" class="link-item">Zarasai</a>
          <a href="<%= baseUrl %>/zemaitija.html" class="link-item">Zemaitija</a>
        </div>
        <div class="footer-col info-more-links">
          <h3 class="info-header">Informacija</h3>
          <a href="<%= baseUrl %>/turizmo-paslaugų-sutartis.html" class="link-item">Turizmo paslaugų sutartis</a>
          <a href="<%= baseUrl %>/informacija-vartotojams-koronaviruso-laikotarpiu.html" class="link-item">Informacija vartotojams koronaviruso laikotarpiu</a>
          <a href="<%= baseUrl %>/es-projektai.html" class="link-item">ES projektai</a>
          <a href="<%= baseUrl %>/privatumo-politika.html" class="link-item">Privatumo politika</a>
          <a href="<%= baseUrl %>/informavimas-apie-asmens-duomenų-tvarkymą.html" class="link-item">Informavimas apie asmens duomenų tvarkymą</a>
          <a href="<%= baseUrl %>/kelionės-kolektyvams-po-lietuvą.html" class="link-item">Kelionės kolektyvams po Lietuvą</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Copyright 2024. Your company name. All rights reserved.</p>
    </div>
  </footer>
  <script src="<%= baseUrl %>/javascript/search-toggle.js"></script>
  <script src="<%= baseUrl %>/javascript/searchForm.js"></script>
</body>
</html>
