<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/range.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div id="top-header" class="col-top-header">
                    <div class="contact-info">
                        <a href="tel:37065955770">
                            <img class="icon" src="../img/phone-svgrepo-com.svg" />
                            <span>(+370) 659 55770</span>
                        </a>
                        <a href="#">
                            <img class="icon" src="../img/mail-svgrepo-com.svg" />
                            <span>info@mail.com</span>
                        </a>
                    </div>
                    <div class="top-header-links">
                        <a href="apie-mus.html">
                            <img class="icon" src="../img/info-circle-svgrepo-com.svg" />
                            <span>Apie mus</span>
                        </a>
                        <a href="kontaktai.html">
                            <img class="icon" src="../img/location-svgrepo-com.svg" />
                            <span>Kontaktai</span>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100080044436184">
                            <img class="icon" src="../img/facebook-svgrepo-com.svg" />
                        </a>
                        <a href="#">
                            <img class="icon" src="../img/instagram-svgrepo-com.svg" />
                        </a>
                    </div>
                </div>
                <div id="main-header" class="col-main-header">
                    <div id="logo">
                        <a href="index.html" class="logo">
                            <span>VšĮ "Prasmingam gyvenimui"</span>
                        </a>
                    </div>
                    <div id="menu">
                        <a href="autubusu.html">
                            <img class="icon" src="../img/bus-svgrepo-com.svg" />
                            <span>Autobusu</span>
                        </a>
                        <a href="lietuvoje.html">
                            <img class="icon" src="../img/flag-for-flag-lithuania-svgrepo-com.svg" />
                            <span>Lietuvoje</span>
                        </a>
                        <a href="uzsienyje.html">
                            <img class="icon" src="../img/globe-svgrepo-com.svg" />
                            <span>Užsienyje</span>
                        </a>
                        <a href="garantuotos.html">
                            <img class="icon" src="../img/approved-aproved-confirm-2-svgrepo-com.svg" />
                            <span>Garantuotos</span>
                        </a>
                        <a href="kaledines.html">
                            <img class="icon" src="../img/christmas-tree-svgrepo-com.svg" />
                            <span>Kalėdinės</span>
                        </a>
                    </div>
                    <div id="search">
                        <a href="#" id="searchIcon">
                            <img class="icon" src="../img/search-svgrepo-com.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end mobile search modal -->
        <!-- Mobile search modal -->
        <div id="searchMobile" class="hidden">
            <div class="search-container">
                <div class="search-content">
                    <form action="/your-backend-endpoint" method="POST">
                        <div class="data-input-container">
                            <div class="data-input-col">
                                <div class="data-input-field data-input-country">
                                    <input type="text" placeholder="Kelionė arba šalis" name="tour" id="tour-name" autocomplete="off" class="country">
                                </div>
                                <div class="data-input-field data-input-transport">
                                    <label class="checkbox-icon" title="Autobusu">
                                        <input type="checkbox" class="select-only-one" name="transport" value="bus">
                                        <span class="checkbody">
                                            <span class="checkmark">
                                                <img src="../img/bus-svgrepo-com.svg" />
                                            </span>
                                        </span>
                                    </label>
                                    <label class="checkbox-icon" title="Lėktuvu">
                                        <input type="checkbox" class="select-only-one" name="transport" value="plane">
                                        <span class="checkbody">
                                            <span class="checkmark">
                                                <img src="../img/airplane-svgrepo-com.svg" />
                                            </span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="data-input-col">
                                <div class="data-input-field data-input-date">
                                    <div class="data-input-date-from">
                                        <input type="date" placeholder="Data nuo" name="date_from" id="d1" class="date-from">
                                    </div>
                                    <div class="data-input-field data-input-date-to">
                                        <input type="date" placeholder="Data iki" name="date_to" id="d2" class="date-to">
                                    </div>
                                </div>
                                <div class="data-input-field data-input-tour-type">
                                    <select name="travel_type" id="keliones-tipas" class="">
                                        <option value="" selected>Kelionės tipas</option>
                                        <option value="1">Pažintinės</option>
                                        <option value="2">Poilsinės</option>
                                        <option value="3">Aktyvios</option>
                                        <option value="4">Egzotinės</option>
                                        <option value="5">Skrydis + viešbutis</option>
                                        <option value="6">Kolektyvams</option>
                                        <option value="7">Moksleiviams</option>
                                        <option value="8">Ekskursija</option>
                                        <option value="9">Vestuvės</option>
                                        <option value="10">Poilsis Lietuvoje</option>
                                        <option value="11">Dovanų kuponas</option>
                                        <option value="12">Žygiai</option>
                                        <option value="13">Slidinėjimas</option>
                                        <!-- Add more options as needed -->
                                    </select>
                                </div>
                            </div>
                            <div class="data-input-col">
                                <div class="data-input-field data-input-price-range">
                                    <h3 class="range-title">Kelionės kaina</h3>
                                    <div class="range_container">
                                        <div class="form_control">
                                            <div class="form_control_container">
                                                <div class="form_control_container__time">Min</div>
                                                <input class="form_control_container__time__input" type="number" id="fromInput" name="price_min" value="80" min="0" max="3999"/>
                                            </div>
                                            <div class="form_control_container">
                                                <div class="form_control_container__time">Max</div>
                                                <input class="form_control_container__time__input" type="number" id="toInput" name="price_max" value="3000" min="0" max="3999"/>
                                            </div>
                                        </div>
                                        <div class="sliders_control">
                                            <input id="fromSlider" type="range" value="80" min="0" max="3999"/>
                                            <input id="toSlider" type="range" value="3000" min="0" max="3999"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="data-input-field data-input-submit">
                                    <button type="submit" class="btn-search-submit">
                                        <img src="../img/search-svgrepo-com-white.svg" />
                                        <span>Ieškoti</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end mobile search modal -->
    </header>
    <%  var correctedPath = trip.trip_fotos[0].replace(/C:\\Users\\puskoedg\\Downloads\\Prasmingas\\Prasmingas\\public\\/g, '/').replace(/\\/g, '/'); %>
    <div id="banner" class="balstoge" style="background-image: url('<%= correctedPath %>'); background-position: center center;">
        <div class="container">
            <div id="banner-title">
                <h1><%= trip.trip_name %></h1>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" onclick="openContent(event, 'Kelione')">Kelionė</button>
        <!-- <button class="tablinks" onclick="openContent(event, 'Programa')">Kelionės Programa</button> -->
        <button class="tablinks" onclick="openContent(event, 'Data')">Datos ir išvykimo vietos</button>
        <button class="tablinks" onclick="openContent(event, 'Atmintine')">Atmintinė</button>
    </div>

    <div id="main">
        <div class="container">
            <!-- Tab content -->
            <div id="Kelione" class="tabcontent">
                <div class="travel-info-box">
                    <div class="main-desc">
                        <div class="main-desc-icons">
                            <div id="section-title"><%= trip.trip_name %></div>
                            <p><strong></strong></p>
                            <p><img src="../img/location-svgrepo-com.svg" /><%= trip.trip_category %></p>
                            <p><img src="../img/bus-svgrepo-com.svg"/> <%= trip.trip_transport %>, <%= trip.trip_duration %> diena</p>
                        </div>
                        <div class="main-desc-price"><p>55 €</p></div>
                    </div>
                    <div class="travel-dates-info">
                        <strong><%= trip.trip_pickuppoints %></strong>
                        <% trip.trips.forEach(function(oneTrip) { %>
                            <p><span><% oneTrip.date %> </span><span></span><span><% oneTrip.cost %></span></p>
                            <p><span><%=oneTrip.date%></span><span><%= (oneTrip.seatstotal - oneTrip.seatstaken.length > 0) ? "vietų yra" : "nėra vietų" %></span><span><%=oneTrip.cost%>€</span></p>
                        <% }); %>
                    </div>
                </div>
                <div class="content-image">
                    <div class="img-row">
                        <% trip.trip_fotos.forEach((foto, index) => { %>
                            <% if (index % 2 === 0) { %>
                                <div class="img-column">
                            <% } %>
                            <%  foto = foto.replace(/C:\\Users\\puskoedg\\Downloads\\Prasmingas\\Prasmingas\\public\\/g, '/').replace(/\\/g, '/'); %>
                                    <img src="<%= foto; %>" style="width:100%">
                            <% if (index % 2 === 1 || index === trip.trip_fotos.length - 1) { %>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>

                <div class="programa">
                    <h3>KELIONĖS PROGRAMA</h3>
                    <p><em><%= trip.trip_programme_sdesc %></em></p>
                    <div class="travel-program">
                        <ul>
                            <% let i = 1; %>
                            <% trip.trip_programme.forEach(function(oneDay) { %>
                                <li>
                                    <span class="tp-day"><%= i %></span>
                                    <h4><%= oneDay.day_title %></h4>
                                    <p><%= oneDay.day_desc %></p>
                                    <div class="content-image">
                                        <div class="img-row">
                                            <div class="img-column">
                                                <% oneDay.day_media.forEach(function(media) { %>
                                                    <% media = media.replace(/C:\\Users\\puskoedg\\Downloads\\Prasmingas\\Prasmingas\\public\\/g, '/').replace(/\\/g, '/') %>
                                                    <img src="<%= media %>" style="width:100%">
                                                <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% i++; %>
                            <% }); %>
                        </ul>
                    </div>
                    <%- trip.trip_description %>

                    <% trip.trips.forEach(function(e) { %>
                        <div class="datos">
                            <div class="travel-reservation">
                                <h3 class="travel-tour-dates"><%=e.date %></h3>
                                <h5 class="travel-free-places-name"><%= (e.seatstotal - e.seatstaken > 0) ? "VIETŲ YRA" : "NĖRA VIETŲ" %></h5>
                                <% trip.trip_pickuppoints.forEach((b)=> {%>
                                    <p class="travel-origin"><%=b%></p>
                                <%}) %>
                            </div>
                            <div class="travel-price">
                                <p class="travel-tour-price"><%=e.cost%>/asm.</p>
                            </div>
                            <div class="reserve-link">
                                <a class="btn-buy">Pirkti</a>
                            </div>
                        </div>
                    <% }); %>

                </div>
            </div>
            <!-- <div id="Programa" class="tabcontent">
                <h3>KELIONĖS PROGRAMA</h3>
                <p><em><%=// trip.trip_programme_sdesc %></em></p>
                <div class="travel-program">
                    <ul>
                        <% //let k = 1; %>
                        <% //trip.trip_programme.forEach(function(oneDay) { %>
                            <li>
                                <span class="tp-day"><%= //k %></span>
                                <h4><%= //oneDay.day_title %></h4>
                                <p><%= //oneDay.day_desc %></p>
                                <div class="content-image">
                                    <div class="img-row">
                                        <div class="img-column">
                                            <% //oneDay.day_media.forEach(function(media) { %>
                                                <%// media = media.replace(/C:\\Users\\puskoedg\\Downloads\\Prasmingas\\Prasmingas\\public\\/g, '/').replace(/\\/g, '/') %>
                                                <img src="<%=// media %>" style="width:100%">
                                            <%// }); %>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <%// k++; %>
                        <% //}); %>
                    </ul>
                </div>
            </div> -->
            <div id="Data" class="tabcontent">
                <% trip.trips.forEach(function(e) { %>
                    <div class="datos">
                        <div class="travel-reservation">
                            <h3 class="travel-tour-dates"><%=e.date %></h3>
                            <h5 class="travel-free-places-name"><%= (e.seatstotal - e.seatstaken > 0) ? "VIETŲ YRA" : "NĖRA VIETŲ" %></h5>
                            <% trip.trip_pickuppoints.forEach((b)=> {%>
                                <p class="travel-origin"><%=b%></p>
                            <%}) %>
                        </div>
                        <div class="travel-price">
                            <p class="travel-tour-price"><%=e.cost%>/asm.</p>
                        </div>
                        <div class="reserve-link">
                            <a class="btn-buy" href="<%=trip._id %>/buy1">Pirkti</a>
                        </div>
                    </div>
                <% }); %>
            
            
            </div>
            <div id="Atmintine" class="tabcontent">
                <div class="programa">
                <%- trip.trip_description %>
                    </div>
            </div>
        </div>
    </div>
    <footer id="site-footer">
        <div class="container">
            <div class="column-wrapper">
                <div class="footer-col info-company">
                    <div id="logo" class="logo">
                        <a href="index-2.html">
                            <span>VšĮ "Prasmingam gyvenimui"</span>
                        </a>
                    </div>
                    <p class="company-desc-1">Kelionės autobusu - Jūsų Prasmingam gyvenimui</p>
                    <h3 class="company-desc-2">Džiaugiamės, kad domitės mūsų pasiūlymais!</h3>
                </div>
                <div class="footer-col info-contact">
                    <h3 class="info-header">susisiekime</h3>
                    <div class="contact-info">
                        <a href="tel:37065955770">
                            <img class="icon" src="../img/phone-svgrepo-com-white.svg" />
                            <span>(+370) 659 55770</span>
                        </a>
                        <a href="#">
                            <img class="icon" src="../img/mail-svgrepo-com-white.svg" />
                            <span>info@mail.com</span>
                        </a>
                    </div>
                    <div class="social-icons">
                        <a href="https://www.facebook.com/profile.php?id=100080044436184">
                            <img class="icon" src="../img/facebook-svgrepo-com-white.svg" />
                        </a>
                        <a href="#">
                            <img class="icon" src="../img/instagram-svgrepo-com-white.svg" />
                        </a>
                    </div>
                    <div class="work-hours">
                        <p>I-V 9-13 val.</p>
                        <p>IV-IIV nedirbame</p>
                    </div>
                </div>
                <div class="footer-col info-link">
                    <h3 class="info-header">Struktura</h3>
                    <a href="apie-mus.html" class="link-item">Apie mus</a>
                    <a href="kontaktai.html" class="link-item">Kontaktai</a>
                </div>
                <div class="footer-col info-trips">
                    <h3 class="info-header">Kelionės</h3>
                    <a href="augustavas.html" class="link-item">Augustavas Lenkija</a>
                    <a href="balstoge.html" class="link-item">Balstoge Lenkija</a>
                    <a href="druskininkai.html" class="link-item">Druskininkai</a>
                    <a href="kursiu-nerija.html" class="link-item">Kursiu nerija</a>
                    <a href="vilko-guolis.html" class="link-item">Vilko guolis Lenkija</a>
                    <a href="zarasai.html" class="link-item">Zarasai</a>
                    <a href="zemaitija.html" class="link-item">Zemaitija</a>
                </div>
                <div class="footer-col info-more-links">
                    <h3 class="info-header">Informacija</h3>
                    <a href="turizmo-paslaugų-sutartis.html" class="link-item">Turizmo paslaugų sutartis</a>
                    <a href="informacija-vartotojams-koronaviruso-laikotarpiu.html" class="link-item">Informacija vartotojams koronaviruso laikotarpiu</a>
                    <a href="es-projektai.html" class="link-item">ES projektai</a>
                    <a href="privatumo-politika.html" class="link-item">Privatumo politika</a>
                    <a href="informavimas-apie-asmens-duomenų-tvarkymą.html" class="link-item">Informavimas apie asmens duomenų tvarkymą</a>
                    <a href="kelionės-kolektyvams-po-lietuvą.html" class="link-item">Kelionės kolektyvams po Lietuvą</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright 2024. Your company name. All rights reserved.</p>
        </div>
    </footer>
    <script src="../javascript/search-toggle.js"></script>
    <script src="../javascript/range.js"></script>
    <script src="../javascript/tabContent.js"></script>
</body>
</html>
