<html lang="lt"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="noindex,nofollow">
    <meta name="verify-paysera" content="aa981d2aad494004eaea786d23f2221c">
    <title>Užsakyti - Kelionių laikas</title>
    <link rel="stylesheet" href="/css/range.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     <!-- Google tag (gtag.js) -->
     
 
    <meta name="facebook-domain-verification" content="zbz5z0oum2kcmuswnmo1t1vhbvv9hx">
    <!-- Facebook Pixel Code -->
   
<body>

    <header class="navbar-sticky">
    

        <!-- Navbar top-->
        <div class="navbar-top d-none d-lg-block">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
        <!-- navbar top Left-->
        <div class="d-flex align-items-center">
            
            <!-- Top info -->
            <ul class="nav list-unstyled">
                <li class="nav-item"><script type="text/javascript">var p11 = '(+37', p21 = '(+37', p12 = '0)52', p13 = '751797', p23 = ' 275 17 97', p22 = '0) 5'; document.write('<a href="tel:' + p11 + p12 + p13 + '" target="_blank"><i class="fas fa-phone"></i> ' + p21 + p22 + p23 + '</a>');</script><a href="tel:(+370)52751797" target="_blank"><i class="fas fa-phone"></i> (+370) 5 275 17 97</a></li>
                <li class="nav-item"><script type="text/javascript">var e2 = 'kelioniulaikas.lt', e1 = 'info'; document.write('<a href="mailto:' + e1 + '@' + e2 + '" target="_blank"><i class="far fa-envelope"></i> ' + e1 + '@' + e2 + '</a>');</script><a href="mailto:info@kelioniulaikas.lt" target="_blank"><i class="far fa-envelope"></i> info@kelioniulaikas.lt</a></li>
            </ul>
        </div>
    
        <!-- navbar top Right-->
        <div class="d-flex align-items-center">
            
            <!-- top link -->
            <ul class="nav">
                                                        <li class="nav-item "> <a class="nav-link" href="https://www.kelioniulaikas.lt/dovanu-kuponas"><i class="fas fa-gift"></i> Dovanų kuponas</a></li>
                        
                                                                        <li class="nav-item "> <a class="nav-link" href="https://www.kelioniulaikas.lt/keliones-uzklausa"><i class="fas fa-suitcase-rolling"></i> Kelionės užklausa</a></li>
                        
                                                                        <li class="nav-item "> <a class="nav-link" href="https://www.kelioniulaikas.lt/isvykimu-laikas"><i class="far fa-clock"></i> Išvykimo laikai</a></li>
                        
                                                                        <li class="nav-item "> <a class="nav-link" href="https://www.kelioniulaikas.lt/atsiliepimai"><i class="fas fa-star"></i> Atsiliepimai</a></li>
                        
                                                                        <li class="nav-item "> <a class="nav-link" href="https://www.kelioniulaikas.lt/apie-mus"><i class="fas fa-info-circle"></i> Apie mus</a></li>
                        
                                                                        <li class="nav-item "> <a class="nav-link" href="https://www.kelioniulaikas.lt/kontaktai"><i class="fas fa-map-marker-alt"></i> Kontaktai</a></li>
                        
                                            <li class="nav-item"> <a class="nav-link" href="https://www.kelioniulaikas.lt/membox" target="_blank"><i class="fas fa-sign-in-alt"></i> Agentams</a></li>
            </ul>
            <!-- top social -->
            <ul class="social-icons">
                <li class="social-icons-item social-facebook m-0"> <a class="social-icons-link w-auto px-2" href="https://www.facebook.com/kelioniulaikas1" target="_blank"><i class="fab fa-facebook-f"></i></a> </li>                        <li class="social-icons-item social-twitter m-0"> <a class="social-icons-link w-auto pl-2" href="https://www.instagram.com/kelioniu_laikas/" target="_blank"><i class="fab fa-instagram"></i></a> </li>                    </ul>
        </div>
    </div>
            </div>
        </div>
    
        <!-- Navbar main -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand" href="https://www.kelioniulaikas.lt"><img src="https://www.kelioniulaikas.lt/assets/images/logo.png"></a>
                <!-- Mobile menu buttons -->
                <div class="mobile-menu-buttons"><a href="#" data-target="#mobile-menu" class="mobile-menu-button mobile-menu-button-menu"><i class="fas fa-bars"></i></a><a href="#" data-target="#mobile-search-form" class="mobile-menu-button mobile-menu-button-search"><i class="fas fa-search"></i></a><a href="#" data-target="#mobile-help-menu" class="mobile-menu-button mobile-menu-button-help"><i class="fas fa-question"></i></a></div>            <!-- Main Menu -->
                <ul class="navbar-nav">
                            
                    <li class="nav-item dropdown "> <a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/autobusu" id="navbar-16"><i class="fas fa-bus"></i>Autobusu</a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-16">
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/artimiausios">Artimiausios kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/garantuotas-isvykimas">Garantuotos kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/autobusu/savaitgalio">Savaitgalio kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/autobusu/naujametines">Naujametinės kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/autobusu/kaledines">Kalėdinės kelionės</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="nav-item dropdown "> <a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/lietuva" id="navbar-17"><i class="icon lithuania-flag-button-round"></i>Po Lietuvą</a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-17">
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/autobusu-lietuvoje">Kelionės autobusu</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt">Garantuotos kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/pesciomis">Ekskursijos po Vilnių</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt">Artimiausios kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/susidek-kelione">Susikurk maršrutą pats</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="nav-item dropdown "> <a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/lektuvu" id="navbar-28"><i class="fas fa-plane"></i>Lėktuvu</a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-28">
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/poilsines-keliones">Poilsinės kelionės visi organizatoriai</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/pazintines">Pažintinės kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/skrydis-viesbutis">Skrydis + viešbutis</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/paskutine-minute">Paskutinė minutė</a></li>
                                                        <li class="dropdown-item "><a href="http://itaka.kelioniulaikas.lt/">Itaka kelionės</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/slidinejimas">Slidinėjimas</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="nav-item dropdown "> <a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/poilsines" id="navbar-27"><i class="fas fa-spa"></i>Poilsinės</a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-27">
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/paskutine-minute">Paskutinė minutė</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/poilsines/geriausi-pasiulymai">Geriausi pasiūlymai</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/seimai">Šeimai</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/tik-suaugusiems">Tik suaugusiems</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/poilsines">Kelionės lėktuvu</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/poilsis-lietuvoje">Poilsis Lietuvoje</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/poilsines">Viešbučiai</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="nav-item dropdown "> <a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/slidinejimas" id="navbar-74"><i class="fas fa-skiing"></i>Slidinėjimas</a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-74">
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/slidinejimas">Lėktuvu</a></li>
                                                        <li class="dropdown-item "><a href="https://www.kelioniulaikas.lt/keliones/savo-transportu/slidinejimas">Savo transportu</a></li>
                                                </ul>
                    </li>
                
                        <li class="nav-item">
            <a id="main-menu-search-button" href="#search-form-block" class="nav-link" data-toggle="collapse"><i class="fas fa-search"></i></a>
        </li>
    </ul>
            </div>
        </nav>
    </header>
    
    <div class="sticky-space" style="height: 120px; display: none;"></div>
    
    <nav id="mobile-menu" class="mobile-menu-block mobile-menu collapse">
        <ul class="menu">
                            
                    <li class="menu-item-has-children "> <a href="#mobile-menu-subitem-16" data-toggle="collapse" class="collapsed" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bus"></i>Autobusu</a>
                        <ul id="mobile-menu-subitem-16" class="collapse" aria-labelledby="navbar-16">
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/artimiausios">Artimiausios kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/garantuotas-isvykimas">Garantuotos kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/autobusu/savaitgalio">Savaitgalio kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/autobusu/naujametines">Naujametinės kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/autobusu/kaledines">Kalėdinės kelionės</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="menu-item-has-children "> <a href="#mobile-menu-subitem-17" data-toggle="collapse" class="collapsed" aria-haspopup="true" aria-expanded="false"><i class="icon lithuania-flag-button-round"></i>Po Lietuvą</a>
                        <ul id="mobile-menu-subitem-17" class="collapse" aria-labelledby="navbar-17">
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/autobusu-lietuvoje">Kelionės autobusu</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt">Garantuotos kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/pesciomis">Ekskursijos po Vilnių</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt">Artimiausios kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/susidek-kelione">Susikurk maršrutą pats</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="menu-item-has-children "> <a href="#mobile-menu-subitem-28" data-toggle="collapse" class="collapsed" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plane"></i>Lėktuvu</a>
                        <ul id="mobile-menu-subitem-28" class="collapse" aria-labelledby="navbar-28">
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/poilsines-keliones">Poilsinės kelionės visi organizatoriai</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/pazintines">Pažintinės kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/skrydis-viesbutis">Skrydis + viešbutis</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/paskutine-minute">Paskutinė minutė</a></li>
                                                        <li class=""><a href="http://itaka.kelioniulaikas.lt/">Itaka kelionės</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/slidinejimas">Slidinėjimas</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="menu-item-has-children "> <a href="#mobile-menu-subitem-27" data-toggle="collapse" class="collapsed" aria-haspopup="true" aria-expanded="false"><i class="fas fa-spa"></i>Poilsinės</a>
                        <ul id="mobile-menu-subitem-27" class="collapse" aria-labelledby="navbar-27">
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/paskutine-minute">Paskutinė minutė</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/poilsines/geriausi-pasiulymai">Geriausi pasiūlymai</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/seimai">Šeimai</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/tik-suaugusiems">Tik suaugusiems</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/poilsines">Kelionės lėktuvu</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/poilsis-lietuvoje">Poilsis Lietuvoje</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/poilsines">Viešbučiai</a></li>
                                                </ul>
                    </li>
                
                                        
                    <li class="menu-item-has-children "> <a href="#mobile-menu-subitem-74" data-toggle="collapse" class="collapsed" aria-haspopup="true" aria-expanded="false"><i class="fas fa-skiing"></i>Slidinėjimas</a>
                        <ul id="mobile-menu-subitem-74" class="collapse" aria-labelledby="navbar-74">
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/lektuvu/slidinejimas">Lėktuvu</a></li>
                                                        <li class=""><a href="https://www.kelioniulaikas.lt/keliones/savo-transportu/slidinejimas">Savo transportu</a></li>
                                                </ul>
                    </li>
                
                    </ul>
        <ul class="menu">
                                <li class=""> <a href="https://www.kelioniulaikas.lt/dovanu-kuponas"><i class="fas fa-gift"></i>Dovanų kuponas</a></li>
                
                                        <li class=""> <a href="https://www.kelioniulaikas.lt/keliones-uzklausa"><i class="fas fa-suitcase-rolling"></i>Kelionės užklausa</a></li>
                
                                        <li class=""> <a href="https://www.kelioniulaikas.lt/isvykimu-laikas"><i class="far fa-clock"></i>Išvykimo laikai</a></li>
                
                                        <li class=""> <a href="https://www.kelioniulaikas.lt/atsiliepimai"><i class="fas fa-star"></i>Atsiliepimai</a></li>
                
                                        <li class=""> <a href="https://www.kelioniulaikas.lt/apie-mus"><i class="fas fa-info-circle"></i>Apie mus</a></li>
                
                                        <li class=""> <a href="https://www.kelioniulaikas.lt/kontaktai"><i class="fas fa-map-marker-alt"></i>Kontaktai</a></li>
                
                </ul>
    </nav>
    
    <div id="mobile-search-form" class="mobile-menu-block mobile-search-form collapse">
            <form class="search-form" method="get" action="https://www.kelioniulaikas.lt/ieskoti" autocomplete="off">
        
        <div class="search-container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="form-group-icon"> <span class="fas fa-map-marker-alt"></span>
                        <input type="hidden" class="search-id" name="c" value="">
                        <input class="search-term form-control ui-autocomplete-input" type="text" name="s" value="" autocomplete="off" placeholder="Kelionė arba šalis" style="position: relative">
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="form-group-icon"> <span class="far fa-calendar-alt"></span>
                        <input class="form-control search-date-from hasDatepicker" type="text" name="d1" value="" autocomplete="off" placeholder="Data nuo" id="dp1737658901780">
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="form-group-icon"> <span class="far fa-calendar-alt"></span>
                        <input class="form-control search-date-to hasDatepicker" type="text" name="d2" value="" autocomplete="off" placeholder="Data iki" id="dp1737658901782">
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="budget-slider search-price-slider" data-min="0" data-max="4899" data-step="1">
                        <input type="hidden" class="search-price-min" name="p1" value="0">
                        <input type="hidden" class="search-price-max" name="p2" value="4899">
                        <span class="slider-title">Kelionės kaina</span>
                        <div class="slider-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                            
                            
                        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"><span class="min-value">0 €</span></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"><span class="max-value">4899 €</span></span></div>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  transport-types-icons">
                    <label class="checkbox-icon larger transparent" title="Autobusu"><input type="checkbox" class="select-only-one" name="tr" value="1"><span class="checkbody"><span class="checkmark"><i class="fas fa-bus"></i></span></span></label><label class="checkbox-icon larger transparent" title="Lėktuvu"><input type="checkbox" class="select-only-one" name="tr" value="2"><span class="checkbody"><span class="checkmark"><i class="fas fa-plane"></i></span></span></label><label class="checkbox-icon larger transparent" title="Savo transportu"><input type="checkbox" class="select-only-one" name="tr" value="4"><span class="checkbody"><span class="checkmark"><i class="fas fa-car"></i></span></span></label><label class="checkbox-icon larger transparent" title="Pėsčiomis"><input type="checkbox" class="select-only-one" name="tr" value="5"><span class="checkbody"><span class="checkmark"><i class="fas fa-walking"></i></span></span></label><label class="checkbox-icon larger transparent" title="Autobusu Lietuvoje"><input type="checkbox" class="select-only-one" name="tr" value="6"><span class="checkbody"><span class="checkmark"><i class="fas fa-bus"></i></span></span></label>            </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <select class="custom-select select-big" name="tt">
                            <option value="" selected="">Kelionės tipas</option>
                                                        <option value="1">Pažintinės</option>
                                                        <option value="2">Poilsinės</option>
                                                        <option value="3">Aktyvios</option>
                                                        <option value="4">Egzotinės</option>
                                                        <option value="5">Skrydis + viešbutis</option>
                                                        <option value="6">Kolektyvams</option>
                                                        <option value="7">Moksleiviams</option>
                                                        <option value="8">Piligriminės</option>
                                                        <option value="9">Ekskursija</option>
                                                        <option value="10">Vestuvės</option>
                                                        <option value="11">Poilsis Lietuvoje</option>
                                                        <option value="13">Dovanų kuponas</option>
                                                        <option value="14">Žygiai</option>
                                                        <option value="15">Slidinėjimas</option>
                                                </select>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-search search-submit-button" type="submit"><i class="fas fa-search"></i> Ieškoti</button>
                    </div>
                </div>
            </div>
    
            
    
            
        </div>
    </form></div>
    
    <div id="mobile-help-menu" class="mobile-menu-block mobile-menu collapse">
        <ul class="menu">
        <li><script type="text/javascript">var p11 = '(+37', p21 = '(+37', p12 = '0)52', p13 = '751797', p23 = ' 275 17 97', p22 = '0) 5'; document.write('<a href="tel:' + p11 + p12 + p13 + '" target="_blank"><i class="fas fa-phone"></i> ' + p21 + p22 + p23 + '</a>');</script><a href="tel:(+370)52751797" target="_blank"><i class="fas fa-phone"></i> (+370) 5 275 17 97</a></li>
        <li><script type="text/javascript">var e2 = 'kelioniulaikas.lt', e1 = 'info'; document.write('<a href="mailto:' + e1 + '@' + e2 + '" target="_blank"><i class="far fa-envelope"></i> ' + e1 + '@' + e2 + '</a>');</script><a href="mailto:info@kelioniulaikas.lt" target="_blank"><i class="far fa-envelope"></i> info@kelioniulaikas.lt</a></li>
        <li><span><i class="far fa-clock"></i>I-V <strong>9.00 - 18.00</strong> VI-VII <strong>nedirbame</strong></span></li>
        <li><span><i class="fas fa-home"></i>Kalvarijų g. 14, LT 09309 Vilnius</span></li>
    </ul>
    
    </div>
    
    <div id="search-form-block">
        <div class="container">
                    <form class="search-form" method="get" action="https://www.kelioniulaikas.lt/ieskoti" autocomplete="off">
        
        <div class="search-container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                    <div class="form-group-icon"> <span class="fas fa-map-marker-alt"></span>
                        <input type="hidden" class="search-id" name="c" value="">
                        <input class="search-term form-control ui-autocomplete-input" type="text" name="s" value="" autocomplete="off" placeholder="Kelionė arba šalis" style="position: relative">
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="form-group-icon"> <span class="far fa-calendar-alt"></span>
                        <input class="form-control search-date-from hasDatepicker" type="text" name="d1" value="" autocomplete="off" placeholder="Data nuo" id="dp1737658901781">
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="form-group-icon"> <span class="far fa-calendar-alt"></span>
                        <input class="form-control search-date-to hasDatepicker" type="text" name="d2" value="" autocomplete="off" placeholder="Data iki" id="dp1737658901783">
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="budget-slider search-price-slider" data-min="0" data-max="4899" data-step="1">
                        <input type="hidden" class="search-price-min" name="p1" value="0">
                        <input type="hidden" class="search-price-max" name="p2" value="4899">
                        <span class="slider-title">Kelionės kaina</span>
                        <div class="slider-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                            
                            
                        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"><span class="min-value">0 €</span></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"><span class="max-value">4899 €</span></span></div>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4  transport-types-icons">
                    <label class="checkbox-icon larger transparent" title="Autobusu"><input type="checkbox" class="select-only-one" name="tr" value="1"><span class="checkbody"><span class="checkmark"><i class="fas fa-bus"></i></span></span></label><label class="checkbox-icon larger transparent" title="Lėktuvu"><input type="checkbox" class="select-only-one" name="tr" value="2"><span class="checkbody"><span class="checkmark"><i class="fas fa-plane"></i></span></span></label><label class="checkbox-icon larger transparent" title="Savo transportu"><input type="checkbox" class="select-only-one" name="tr" value="4"><span class="checkbody"><span class="checkmark"><i class="fas fa-car"></i></span></span></label><label class="checkbox-icon larger transparent" title="Pėsčiomis"><input type="checkbox" class="select-only-one" name="tr" value="5"><span class="checkbody"><span class="checkmark"><i class="fas fa-walking"></i></span></span></label><label class="checkbox-icon larger transparent" title="Autobusu Lietuvoje"><input type="checkbox" class="select-only-one" name="tr" value="6"><span class="checkbody"><span class="checkmark"><i class="fas fa-bus"></i></span></span></label>            </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
                    <div class="form-group">
                        <select class="custom-select select-big" name="tt">
                            <option value="" selected="">Kelionės tipas</option>
                                                        <option value="1">Pažintinės</option>
                                                        <option value="2">Poilsinės</option>
                                                        <option value="3">Aktyvios</option>
                                                        <option value="4">Egzotinės</option>
                                                        <option value="5">Skrydis + viešbutis</option>
                                                        <option value="6">Kolektyvams</option>
                                                        <option value="7">Moksleiviams</option>
                                                        <option value="8">Piligriminės</option>
                                                        <option value="9">Ekskursija</option>
                                                        <option value="10">Vestuvės</option>
                                                        <option value="11">Poilsis Lietuvoje</option>
                                                        <option value="13">Dovanų kuponas</option>
                                                        <option value="14">Žygiai</option>
                                                        <option value="15">Slidinėjimas</option>
                                                </select>
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-primary btn-search search-submit-button" type="submit"><i class="fas fa-search"></i> Ieškoti</button>
                    </div>
                </div>
            </div>
    
            
    
            
        </div>
    </form>    </div>
    </div>
    <div class="innerpage-banner" style="background-image: url(https://www.kelioniulaikas.lt/files/2020-02/132.jpg);">
        <div class="container">
            <h1 class="innerpage-title"><%=trip.trip_name%></h1>
                                    <div class="dynamic-filter-links">
        
        
        </div>
        </div>
    </div>
    <section class="pt50 pb50 book-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">                            
                    <div class="booking-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item ">
                                <i class="fa fa-calendar"></i> Data                                                    </li>
                            <li class="nav-item "><i class="fa fa-users"></i> Keliautojai</li>
                                                        <li class="nav-item "><i class="fa fa-bus"></i> Vieta autobuse</li>
                                                    <li class="nav-item active"><i class="fa fa-check"></i> Patvirtinimas</li>
                        </ul>
                    </div>
    
                    <form id="booking_form" method="POST" action="">
                        <input type="hidden" name="step" value="4">
                        <input type="hidden" id="session_key" name="session_key" value="booking-F287386E41721B2D">
                                                    <div class="booking booking-step-2">
    
        <div id="messages">
                </div>
    
        <div class="row">
            <div class="col col-sm-12">
                <h2>Kelionė</h2>
    <table class="extras">
        <tbody><tr><th>Kelionė</th><td><%= trip.trip_name %></td></tr>
                <tr><th>Kelionės data</th><td><%= ses.travelObj.date %> </td></tr>
            <tr><th>Kelionės trukmė</th><td><%= trip.trip_duration %>.</td></tr>
            </tbody>
    </table>        
    </div>
                </div>
    
                <h2>Keliautojai</h2>
                <%let cost, discount;  %>
                <% cost = ses.travelObj.cost; %>
                <% discount = ses.travelObj.discount; %>
                <% totalcost = cost-(cost/100*discount); %>
                <% ses.travellersArr.forEach(traveller => { %>
                
                <h3><%= traveller.name %></h3>
                <table class="extras">
                    <tbody>
                        <tr><th>Vardas</th><td><%= traveller.fname %></td></tr>
                        <tr><th>Pavardė</th><td><%= traveller.lname %></td></tr>
                        <tr><th>Gimimo data</th><td><%= traveller.birthdate %></td></tr>
                        <tr><th>Asmens kodas</th><td><%= traveller.personcode %></td></tr>
                        <tr><th>Telefonas</th><td><%= traveller.tel %></td></tr> 
                        <tr><th>El. paštas</th><td><%= traveller.email %></td></tr>
                        <tr><th>Miestas</th><td><%= traveller.city %></td></tr>
                        <tr><th>Išvykimo miestas</th><td><%= traveller.departureCity %></td></tr>
                        <tr><th>Vieta autobuse</th><td><%= traveller.seat %></td></tr>
                        <tr><th>Bazinė kelionės kaina</th><td class="price"><%= cost %> €</td></tr>
                        <tr><th>Nuolaida <%= discount %> %</th><td class="price"><%= -cost/100*discount %> €</td></tr>
                        <tr><th>Viso keliautojui</th><td class="price-total"><%=  totalcost %> €</td></tr>
                    </tbody>
                </table>
            <% }) %>
        
                
    
            <div class="total-row clearfix">
                Viso:
                <span id="booking_total_price_loading" class="total-price-loading" style="display: none;"><i class="fa fa-spinner fa-pulse"></i></span>
                <span id="booking_total_price" class="total-price"><%=totalcost*ses.travellersArr.length  %> €</span>
            </div>
        
        <div class="comment form-group">
            <textarea name="comment" class="form-control" rows="4" placeholder="Papildomi klausimai, pastabos ..."></textarea>
        </div>
    
                <h2>Pagrindinės sąlygos</h2>
            <div class="contract">
                <p><strong>TURIZMO PASLAUGŲ TEIKIMO SUTARTIES SĄLYGOS</strong></p>
    
    <p>Šioje Sutartyje Keliautojas&nbsp;– fizinis asmuo, sudaręs su Kelionių organizatoriumi Sutartį (Sutartį pasirašęs asmuo) arba bet kuris fizinis(-iai) asmuo(-ys), kurio(-ių) vardu Sutartį pasirašęs asmuo perka organizuotą turistinę kelionę ir prisiima visas teises ir pareigas pagal Sutartį (kiti naudos gavėjai) arba bet kuris fizinis asmuo, kuriam Sutartį pasirašęs asmuo arba bet kuris naudos gavėjas perleidžia savo teisę į kelionę.</p>
    
    <p><strong>1. SUTARTIES ŠALIŲ ĮSIPAREIGOJIMAI</strong></p>
    
    <p><strong>1.1.&nbsp; Kelionių organizatorius įsipareigoja:</strong></p>
    
    <p>1.1.1. Organizuoti Keliautojui(-ams) turistinę kelionę pagal programą, nurodytą kataloge ar kitoje kelionę aprašančioje medžiagoje, arba, jeigu kataloge ar kitoje kelionę aprašančioje medžiagoje nurodytos kelionės programoje buvo padaryti pakeitimai iki šios Sutarties pasirašymo, pagal pakeistą programą. Katalogas ir/ arba kita kelionę aprašanti medžiaga, ir/ arba pakeista programa yra neatskiriamas šios Sutarties priedas.</p>
    
    <p>1.1.2. Tais atvejais, kai Kelionių organizatorius Sutartimi įsipareigoja suteikti Keliautojui apgyvendinimo paslaugas, atitinkančias konkrečią kategoriją pagal priimančiosios šalies taisykles, nenurodant konkretus apgyvendinimo paslaugų teikėjo, Kelionių organizatorius iki Sutarties pasirašymo privalo informuoti Turistą apie apgyvendinimo tipą, kategoriją bei maitinimą. Kelionių organizatorius taip pat privalo suteikti Keliautojui neklaidinančią ir išsamią informaciją apie patogumų, paslaugų ir pramogų lygį, kiekį ir kokybę bei galimus jų skirtumus, priklausančius nuo konkretaus apgyvendinimo paslaugų teikėjo.</p>
    
    <p>1.1.3. Sutartyje nurodyti:</p>
    
    <p>1.1.3.1. informaciją Keliautojui, jeigu kelionė būtų netinkama riboto judumo asmenims <a href="https://www.kelioniulaikas.lt/keliones-autobusu/">https://www.kelioniulaikas.lt/keliones-autobusu/</a>; <a href="https://www.kelioniulaikas.lt/keliones_lektuvu/">https://www.kelioniulaikas.lt/keliones_lektuvu/</a>; https://www.kelioniulaikas.lt/svarbi-informacija/.</p>
    
    <p>1.1.3.2. Kelionių organizatoriaus vietinio atstovo, kelionių vadovo, kontaktinio centro ar kitos tarnybos, kurie suteikia Keliautojui galimybę greitai susisiekti su Kelionių organizatoriumi ir su juo bendrauti, kreiptis pagalbos Keliautojui susidūrus su sunkumais, arba pateikti pretenziją dėl netinkamo Sutarties vykdymo ar Sutarties nevykdymo, vardą ir pavardę arba pavadinimą, adresą, telefono numerį, elektroninio pašto adresą, fakso numerį;</p>
    
    <p>1.1.3.3. informaciją, leidžiančią tiesiogiai susisiekti su nepilnamečiu arba su nepilnametį lydinčiu asmeniu nepilnamečio buvimo vietoje, kai pagal Sutartį, į kurią įtraukta apgyvendinimo paslauga, keliauja nepilnametis, kurio nelydi vienas iš tėvų arba kitas asmuo https://www.kelioniulaikas.lt/svarbi-informacija/;</p>
    
    <p>1.1.3.4. bendro pobūdžio informaciją apie kelionės šalies paso ir vizos reikalavimus, įskaitant apytikslę vizos išdavimo proceso trukmę, ir informaciją apie su sveikata susijusius formalumus (informaciją apie valstybių, į kurias vykstama, užkrečiamųjų ligų epidemiologinę būklę, privalomas ir rekomenduojamas profilaktikos priemones, informaciją apie sveikatos draudimo įforminimo tvarką) https://www.kelioniulaikas.lt/svarbi-informacija/.</p>
    
    <p>1.1.3.5. informaciją apie neprivalomą arba privalomą draudimą išlaidoms, atsirandančioms Keliautojui nutraukus Sutartį, arba pagalbos, įskaitant Turisto grąžinimą į pradinę išvykimo vietą, išlaidoms nelaimingo atsitikimo, ligos ar mirties atveju apmokėti <a href="https://www.kelioniulaikas.lt/draudimas/">https://www.kelioniulaikas.lt/draudimas/</a> .</p>
    
    <p>1.1.4. Likus pakankamai laiko iki kelionės pradžios, pateikti Keliautojui tokia forma, kaip buvo sudaryta Sutartis arba kita Turisto pasirinkta forma būtinus kvitus, kuponus, bilietus, informaciją apie numatytą išvykimo laiką ir, kai taikytina, registracijos terminą ir numatytą laukimo tarpinėse stotelėse, transporto jungčių ir atvykimo laiką, valstybių, į kurias vykstama, įvežamų daiktų kiekio, skaičiaus ir draudimų reikalavimus, informaciją apie valiutų keitimo sąlygas ir tvarką.</p>
    
    <p>1.1.5. Kai Turistų grupę sudaro daugiau kaip 15 nepilnamečių iki 16 metų arba daugiau kaip 7 neįgalūs nepilnamečiai, užtikrinti, kad, be kelionės vadovo, šią Turistų grupę papildomai lydėtų dar vienas pilnametis asmuo.</p>
    
    <p>1.1.6. Be nepagrįsto delsimo suteikti Keliautojui (-ams), kuriam (-iems) kyla sunkumų, reikalingą pagalbą kelionės metu ar esant nenugalimos jėgos aplinkybėms:</p>
    
    <p>1.1.6.1. teikti atitinkamą informaciją apie sveikatos priežiūros paslaugas, vietos valdžios institucijas ir konsulinę pagalbą;</p>
    
    <p>1.1.6.2. padėti Keliautojui pasinaudoti nuotolinio ryšio priemonėmis;</p>
    
    <p>1.1.6.3. padėti rasti alternatyvių kelionės paslaugų.</p>
    
    <p>1.1.7. Užtikrinti Keliautojui (-ams) visų Sutartyje nurodytų paslaugų tinkamą teikimą, atsižvelgiant į Turisto (-ų) teisėtus lūkesčius.</p>
    
    <p>1.1.8. Nesurinkus minimalaus Turistų skaičiaus, apie Sutarties nutraukimą Keliautojui (-ams) pranešti raštu ne vėliau kaip iki kelionės pradžios likus:</p>
    
    <p>1.1.8.1. 20 dienų, jeigu kelionės trukmė yra ilgesnė negu 6 dienos;</p>
    
    <p>1.1.8.2. 7 dienoms, jeigu kelionės trukmė yra ne trumpesnė negu 2 dienos ir ne ilgesnė negu 6 dienos;</p>
    
    <p>1.1.8.3. 48 valandoms, jeigu kelionės trukmė yra trumpesnė negu 2 dienos.</p>
    
    <p>Minimalus turistų skaičius kelionėje autobusu – 25 turistai. Jeigu prie užsakomos kelionės aprašymo Sutarties prieduose nurodytas kitas minimalus turistų skaičius, galioja pastarasis.</p>
    
    <p>1.1.9. Grąžinti Keliautojui visus Turisto arba jo vardu sumokėtus pinigus už kelionę be nepagrįsto delsimo, bet ne vėliau kaip per 14 dienų nuo Sutarties nutraukimo dienos.</p>
    
    <p>1.1.10. Kai Sutartis sudaroma nuotolinės prekybos būdu, laikoma, kad Sutartis sudaryta tokiomis sąlygomis, kokios buvo skelbiamos oficialioje Kelionių organizatoriaus interneto svetainėje (ar elektroninės prekybos sistemoje) kelionės&nbsp;</p>
    
    <p>įsigijimo metu. Jeigu Sutarties sąlygos oficialioje Kelionių organizatoriaus interneto svetainėje neskelbiamos ar kelionės įsigijimo metu nebuvo paskelbtos, laikoma, kad Sutartis buvo sudaryta pagal standartines turizmo paslaugų teikimo sutarčių sąlygas.</p>
    
    <p>1.1.11. Po Sutarties sudarymo paaiškėjus, kad prievolių įvykdymo užtikrinimas baigiasi anksčiau negu prasideda turistinė kelionė, iki kelionės pradžios raštu (paštu, faksu, el. paštu, trumpąja žinute ar kitu Sutartyje nurodytu būdu) informuoti Turistą apie naują prievolių įvykdymo užtikrinimą, nurodant naują prievolių įvykdymo užtikrinimą patvirtinančio dokumento numerį, jo galiojimo terminą ir jį išdavusios draudimo ar finansų įstaigos rekvizitus ir kontaktinius duomenis.</p>
    
    <p>1.1.12. Nuolaidos kelionėms nėra sumuojamos.</p>
    
    <p><strong>1.2. Keliautojas</strong><strong> (-ai)&nbsp; įsipareigoja:</strong></p>
    
    <p>1.2.1. Apmokėti už kelionę Sutartyje nurodytomis sąlygomis ir terminais.</p>
    
    <p>1.2.2. Laiku sumokėti už turizmo paslaugas,- jei užsakymas sudaromas, kai iki paslaugų suteikimo pradžios lieka daugiau kaip 21 diena, Keliautojas privalo sumokėti visą vežimo paslaugos (bilieto) kainą, o likusią sumą už kitas turizmo paslaugas privalo sumokėti ne vėliau kaip 21 diena iki paslaugų suteikimo pradžios. Jei užsakymas sudaromas, kai iki paslaugų suteikimo pradžios lieka mažiau kaip 21 diena, Keliautojas privalo sumokėti visų užsakytų paslaugų kainą iš karto.</p>
    
    <p>1.2.3. Keliautojas pervesdamas pinigus į Kelionės organizatoriaus sąskaitą, mokėjimo paskirtyje turi nurodyti keliautojo vardą, pavardę, kelionės pavadinimą ir datą.</p>
    
    <p>1.2.4. Laiku pateikti visą informaciją ir dokumentus, reikalingus Kelionės organizatoriui įvykdyti šią Sutartį.</p>
    
    <p>1.2.5. Laiku atvykti į nurodytą pirminę bei kelionės vadovo nurodytas išvykimo vietas, taip pat ir tarpines; laikytis Kelionių organizatoriaus nurodymų dėl kelionės ar atskirų jos dalių vykdymo; laikytis viešosios tvarkos, tarptautinių keleivių vežimo taisyklių, bagažo gabenimo tvarkos ir į šalį įvežamų daiktų kiekio, skaičiaus ir draudimų reikalavimų; vykdyti pasienio ir muitinės tarnybų nurodymus. https://www.kelioniulaikas.lt/isvykimo-laikai-ir-vietos/</p>
    
    <p>1.2.6. Vykstant į kelionę su nepilnamečiais vaikais, laikytis Lietuvos Respublikos Vyriausybės patvirtintos „Vaiko laikino išvykimo į užsienio valstybes, nepriklausančias Šengeno erdvei, tvarkos“ aprašo reikalavimų.</p>
    
    <p>1.2.7. Atlyginti kelionės metu padarytą žalą (sugadintą viešbučio inventorių, transporto priemones ir kt.). Jeigu žala padaryta nepilnamečio, visus nuostolius už jį atlygina atsakingas asmuo. Jeigu Keliautojas prisiima kaltę ir sutinka atlyginti žalą, žalą reikia atlyginti vietoje. Tais atvejais, kai Keliautojas kaltės neprisiima, Kelionių organizatorius turi teisę žalą išieškoti Lietuvos Respublikos įstatymų nustatyta tvarka. Keliautojas neprivalo atlyginti žalos, atsiradusios dėl nenugalimos jėgos.</p>
    
    <p>1.2.8. Keliautojas, pagrindinė šios Sutarties šalis, privalo informuoti kitus Turistus - naudos gavėjus, kad turistinė kelionė yra&nbsp; organizuojama tik pagal šioje Sutartyje nurodytas sąlygas ir visi&nbsp; Turistai privalo vykdyti visas Sutarties sąlygas bei pateikti jiems visą po Sutarties sudarymo Kelionių organizatoriaus siunčiamą informaciją.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>2. TEISĖ ATSISAKYTI SUTARTIES</strong></p>
    
    <p>2.1. Keliautojas turi teisę bet kuriuo metu nutraukti Sutartį iki kelionės pradžios. Sutarties atsisakymas įsigalioja nuo jo pareiškimo momento.</p>
    
    <p>2.2. Jeigu Keliautojas nutraukia Sutartį, jis turi sumokėti Kelionės organizatoriui Sutarties nutraukimo mokestį. Šalys susitaria ir sutinka, kad Sutarties nutraukimo mokesčio dydis priklauso nuo laiko, likusio iki kelionės pradžios: jei iki išvykimo lieka daugiau negu 28 dienos – 20 procentų; jei iki išvykimo lieka nuo 27 iki 21 dienų – 50 procentų; jei iki išvykimo lieka nuo 20 iki 10 dienų – 80 procentų; jei iki išvykimo lieka mažiau negu 9 dienos – 100 procentai.</p>
    
    <p>2.2.1. Keliautojui nutraukus sutartį dėl kelionės lėktuvu, egzotinės kelionės ir/ar apgyvendinimo paslaugų viešbutyje, kai šios paslaugos parduodamos taikant tiesioginių paslaugų teikėjų akcijas/pasiūlymus/nuolaidas sutarties nutraukimo mokesčio dydis yra lygus 100 % kelionės kainos.</p>
    
    <p>2.2.2. Keliautojui nutraukus sutartį dėl kelionės lėktuvu ar egzotinės kelionės, vykdomos reguliariuoju skrydžiu, skrydžių bilietų kaina nėra grąžinama. Apgyvendinimo rezervacijos kaina grąžinama pagal viešbučio nustatytą tvarką.</p>
    
    <p>Visais atvejais sutarties nutraukimo mokesčio dydis negali viršyti sutartyje nustatytos kelionės kainos.</p>
    
    <p>Keliautojui Sutartį nutraukus, kai dėl kelionės finansavimo jis yra sudaręs finansavimo (vartojimo kredito) sutartį, jis privalo atlyginti finansuotojo nuostolius, atsiradusius dėl Sutarties nutraukimo (finansavimo suteikimo ir priežiūros mokesčiai, palūkanos ir kt.) ir sumokėti Kelionės organizatoriui Sutarties nutraukimo mokestį.</p>
    
    <p>2.3. Turisto prašymu Kelionių organizatorius turi pateikti Sutarties nutraukimo mokesčio sumos pagrindimą. Visais atvejais Sutarties nutraukimo mokesčio dydis negali viršyti Sutartyje nustatytos kelionės kainos.</p>
    
    <p>2.4. Keliautojas turi teisę nutraukti Sutartį ir nemokėti Sutarties nutraukimo mokesčio šiais atvejais:</p>
    
    <p>2.4.1. jeigu Kelionių organizatorius iki kelionės pradžios pakeičia Sutarties sąlygas, o Keliautojas per Kelionių organizatoriaus nurodytą protingą terminą nesutinka su Kelionių organizatoriaus siūlomais Sutarties sąlygų pakeitimais, kai:</p>
    
    <p>2.4.1.1. Kelionių organizatorius iki kelionės pradžios yra priverstas iš esmės pakeisti bet kurią iš pagrindinių kelionės paslaugų ir (ar) ypatumų;</p>
    
    <p>2.4.1.2. Kelionių organizatorius negali įvykdyti Sutartyje nurodytų specialių Turisto reikalavimų;</p>
    
    <p>2.4.1.3. Kelionių organizatorius pasiūlo padidinti kelionės kainą daugiau kaip 8 procentais pagal LR Civilinio kodekso (toliau – LR CK) 6.752<sup>1 </sup>str.</p>
    
    <p>2.4.2. jeigu dėl Turisto nurodytų trūkumų Sutartis negali būti toliau vykdoma, o Kelionių organizatorius per Turisto nustatytą protingą laikotarpį nepašalina trūkumų. LR CK 6.752<sup>1</sup>&nbsp;str. 3 d. numatytais atvejais Keliautojas gali prašyti sumažinti kelionės kainą arba atlyginti turtinę ir neturtinę žalą;</p>
    
    <p>2.4.3. jeigu kelionės tikslo vietoje ar visiškai greta atsiranda nenugalimos jėgos aplinkybių, dėl kurių gali tapti neįmanoma vykdyti kelionę ar nuvežti Turistus į kelionės tikslo vietą. Tokiu atveju Keliautojas turi teisę reikalauti, kad jam būtų grąžinti už kelionę sumokėti pinigai, tačiau jam nesuteikiama teisė papildomai gauti žalos atlyginimą;</p>
    
    <p>2.4.4. Keliautojas turi teisę nenurodydamas priežasties per 14 dienų atsisakyti <strong><u>ne prekybos patalpose</u></strong> sudarytos Sutarties LR CK 6.228<sup>10</sup> str. 1 d. nustatyta tvarka ir turi apie tai pranešti Kelionių organizatoriui LR CK 6.228<sup>10</sup> str. 6 ir 7 d. nustatyta tvarka.</p>
    
    <p>2.5. Kelionių organizatorius turi teisę iki kelionės pradžios nutraukti Sutartį, grąžinti Keliautojui visas už kelionę sumokėtas sumas ir atlyginti Turisto patirtą žalą.</p>
    
    <p>2.6. Jeigu Kelionių organizatorius atsisako Sutarties, jis gali pasiūlyti Keliautojui naują tokios pat ar geresnės kokybės kelionę (alternatyvią kelionę).</p>
    
    <p>2.7. Kelionių organizatoriui nutraukus Sutartį, Turisto patirta žala neatlyginama šiais atvejais:</p>
    
    <p>2.7.1. kelionę įsigijusių asmenų skaičius yra mažesnis nei Sutartyje nurodytas minimalus Turistų skaičius ir apie tai Keliautojas buvo informuotas;</p>
    
    <p>2.7.2. Kelionių organizatorius negali įvykdyti Sutarties dėl nenugalimos jėgos ir jis nedelsdamas iki kelionės pradžios praneša Keliautojui apie Sutarties nutraukimą.</p>
    
    <p>2.8. Kai, nutraukus Sutartį, Kelionių organizatoriui, kelionių agentūrai ar kelionių agentui atsiranda pareiga grąžinti Keliautojui visus ar dalį už kelionę sumokėtų pinigų, pinigai turi būti grąžinti į Turisto nurodytą sąskaitą per 14 dienų nuo Sutarties nutraukimo.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>3. KELIONĖS KAINOS KEITIMAS</strong></p>
    
    <p>3.1. Kelionių organizatorius po Sutarties sudarymo turi teisę didinti kelionės kainą tik tuo atveju, kai kainos didėjimą tiesiogiai lemia pasikeitęs (-usi):</p>
    
    <p>3.1.1. Turistų vežimo kaina dėl degalų ar kitų energijos šaltinių išlaidų;</p>
    
    <p>3.1.2. su į Sutartį įtrauktų paslaugų, susijusių mokesčių ar rinkliavų, kuriuos taiko tretieji asmenys, tiesiogiai nedalyvaujantys vykdant kelionę, dydis;</p>
    
    <p>3.1.3. su kelione susijusios valiutos keitimo kursas.</p>
    
    <p>3.2. Kelionių organizatorius apie kainos padidinimą Turistą informuoti turi likus ne mažiau kaip 20 dienų iki kelionės pradžios, nurodant kainos padidėjimo priežastis ir kaip buvo apskaičiuotas kainos padidėjimas. Informacija turi būti pateikiama patvarioje laikmenoje aiškiai ir suprantamai.</p>
    
    <p>3.3. Jeigu kelionės kainos padidinimas viršija 8 procentus galutinės kelionės kainos, Keliautojas turi teisę nutraukti Sutartį ar pasirinkti Kelionių organizatoriaus siūlomą alternatyvią kelionę.</p>
    
    <p>3.4. Keliautojas po Sutarties sudarymo turi teisę reikalauti sumažinti kelionės kainą šiais atvejais:</p>
    
    <p>3.4.1. sumažėjus Sutarties 3.1 punkte nurodytoms išlaidoms po Sutarties sudarymo, bet iki kelionės pradžios;</p>
    
    <p>3.4.2. dėl netinkamo Sutarties vykdymo, nebent Kelionių organizatorius įrodo, kad Sutartis vykdoma netinkamai dėl Turisto kaltės;</p>
    
    <p>3.4.3. kai dėl siūlomų alternatyvių paslaugų kelionė tampa žemesnės kokybės nei nurodyta Sutartyje;</p>
    
    <p>3.4.4. jeigu Kelionių organizatorius dėl pagrįstų priežasčių negali pasiūlyti alternatyvių paslaugų arba Keliautojas jų atsisako pagal LR CK 6.754 str. 5 d.</p>
    
    <p>3.4.5. jeigu dėl Turisto nurodytų trūkumų Sutartis negali būti toliau vykdoma, o Kelionių organizatorius per Turisto nustatytą pagrįstą laikotarpį nepašalina trūkumų.</p>
    
    <p>3.5. Sumažinus kelionės kainą, Kelionių organizatorius turi teisę iš Keliautojui turimos sugrąžinti sumos išskaičiuoti faktines administracines išlaidas. Turisto prašymu Kelionių organizatorius turi pateikti tokių administracinių išlaidų pagrindimą.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>4. KITŲ SUTARTIES SĄLYGŲ PAKEITIMAS</strong></p>
    
    <p>4.1. Kelionių organizatorius iki kelionės pradžios vienašališkai turi teisę keisti kitas Sutarties sąlygas, jeigu:</p>
    
    <p>4.1.1. pakeitimai nėra esminiai;</p>
    
    <p>4.1.2. Kelionių organizatorius Turisto pageidaujama forma patvariojoje laikmenoje aiškiai ir suprantamai pateikė Keliautojui informaciją apie pakeitimus.</p>
    
    <p>4.2. Kelionių organizatorius be nepagrįsto delsimo patvariojoje laikmenoje aiškiai ir suprantamai turi pateikti Keliautojui informaciją apie:</p>
    
    <p>4.2.1. siūlomus Sutarties pakeitimus;</p>
    
    <p>4.2.2. protingą terminą, per kurį Keliautojas turi informuoti Kelionių organizatorių apie savo sprendimą;</p>
    
    <p>4.2.3. pasekmes, jei Keliautojas&nbsp;neatsakytų per Kelionių organizatoriaus nurodytą terminą;</p>
    
    <p>4.2.4. alternatyvią kelionę ir jos kainą, kai tokia kelionė pasiūloma.</p>
    
    <p>4.3. Keliautojas turi teisę savo pasirinkimu per Kelionių organizatoriaus nurodytą protingą terminą sutikti su Kelionių organizatoriaus siūlomais Sutarties sąlygų pakeitimais ar nutraukti Sutartį nemokėdamas Sutarties nutraukimo mokesčio.</p>
    
    <p>4.4. Keliautojui nutraukus Sutartį, Kelionių organizatorius gali Keliautojui pasiūlyti lygiavertę ar aukštesnės kokybės kitą kelionę. Jei dėl Sutarties pakeitimų ar pasirinktos alternatyvios kelionės suprastėja kelionės kokybė ar sumažėja jos kaina, Keliautojas turi teisę reikalauti grąžinti sumažėjusios kainos skirtumą.</p>
    
    <p>4.5. Po Sutarties sudarymo abiejų šalių rašytiniu susitarimu gali būti keičiama bet kuri Sutarties sąlyga.</p>
    
    <p><strong>5. SUTARTIES ŠALIŲ PASIKEITIMAS</strong></p>
    
    <p>5.1. Keliautojas turi teisę perleisti savo teisę į kelionę kitam asmeniui, kuris įgys visas Turisto teises ir pareigas pagal Sutartį, jeigu iki kelionės pradžios Kelionių organizatoriui pateikia pagrįstą pranešimą. Turisto pranešimas visais atvejais laikomas pagrįstu, jeigu jis pateiktas ne vėliau kaip likus 7 dienoms iki kelionės pradžios.</p>
    
    <p>5.2. Teisę į kelionę perleidžiantis Keliautojas ir kitas asmuo Kelionių organizatoriui už kelionės kainos ir išlaidų, susijusių su teisės į kelionę perleidimu, sumokėjimą atsako solidariai.</p>
    
    <p>5.3. Kelionių organizatorius turi informuoti Turistą, perleidžiantį savo teisę į kelionę kitam asmeniui, apie faktines Sutarties perleidimo išlaidas ir pateikti jas pagrindžiančius įrodymus. Tos išlaidos turi būti pagrįstos ir neviršyti Kelionių organizatoriaus dėl Sutarties perleidimo patirtų faktinių išlaidų.</p>
    
    <p>5.4. Kelionės perleidimas tarp Turisto ir asmens, kuriam kelionė yra perleidžiama, turi būti įforminamas raštišku susitarimu. Kelionę perimantis asmuo, sudaręs sutartį, ar Keliautojas, perleidęs kelionę, apie tai raštu privalo informuoti Kelionių organizatorių ir perduoti informaciją bei dokumentus, reikalingus sklandžiai įvykdyti šią Sutartį kelionę perėmusio asmens atžvilgiu.</p>
    
    <p>5.5. Tais atvejais, kai toks kelionės perleidimas prieštarauja asmens, kurio pagalba Kelionių organizatorius naudojasi, taisyklėms (t.y. jei per laiką, likusį iki kelionės pradžios jau neleidžiama užsakyti vietos transporto priemonėje ir (ar) viešbutyje naujo asmens vardu), Keliautojui turi būti pateiktos šios taisyklės.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>6. KELIONIŲ ORGANIZATORIAUS ATSAKOMYBĖ</strong></p>
    
    <p>6.1. Kelionių organizatorius atsako už bet kokius techninius užsakymo sistemos trūkumus, kurių atsirado dėl jo kaltės sudarant Sutartį ir už bet kokias užsakymo proceso metu padarytas klaidas. Atsakomybė netaikoma, kai užsakymo klaidos atsirado dėl Turisto kaltės arba jas sukėlė nenugalimos jėgos aplinkybės.</p>
    
    <p>6.2. Kelionių organizatorius privalo be nepagrįsto delsimo suteikti Keliautojui, kuriam kyla sunkumų, reikalingą pagalbą, nurodytą Sutarties 1.1.6. punkte.</p>
    
    <p>6.3. Jeigu pagalba Keliautojui yra reikalinga dėl priežasčių, kurios atsiranda dėl Turisto tyčinių veiksmų ar aplaidumo, Kelionių organizatorius turi teisę už tokios pagalbos teikimą imti atlygį, kurio dydis negali viršyti Kelionių organizatoriaus patirtų faktinių išlaidų.</p>
    
    <p>6.4. Keliautojas be nepagrįsto delsimo turi pranešti Kelionių organizatoriui Sutartyje nurodytais kontaktais apie bet kokį netinkamo Sutarties vykdymo ar Sutarties nevykdymo atvejį, jo pastebėtą kelionės metu ir nurodyti protingą terminą trūkumams ištaisyti. Jeigu trūkumus būtina ištaisyti nedelsiant, Keliautojas neprivalo nurodyti termino.</p>
    
    <p>6.5. Jeigu Sutartyje nurodytos paslaugos teikiamos ne pagal Sutarties sąlygas, Kelionių organizatorius per Turisto nustatytą protingą terminą privalo ištaisyti Turisto nurodytus trūkumus, išskyrus kai to padaryti neįmanoma arba jei tai sukeltų neproporcingų išlaidų, atsižvelgiant į trūkumų mastą ir į netinkamai suteiktų paslaugų, nurodytų Sutartyje, vertę.</p>
    
    <p>6.6. Jeigu Kelionių organizatorius neištaiso trūkumų dėl Sutarties 6.5. punkte nurodytų priežasčių, Keliautojas turi teisę reikalauti, kad jam be nepagrįsto delsimo būtų atlyginta turtinė ir neturtinė žala.</p>
    
    <p>6.7. Jeigu Kelionių organizatorius per Turisto nustatytą protingą terminą neištaiso trūkumų ne dėl Sutarties 6.5. punkte nurodytų priežasčių, Keliautojas gali padaryti tai pats ir pareikalauti padengti būtinas išlaidas.</p>
    
    <p>6.8. Jeigu Kelionių organizatorius negali suteikti didelės paslaugų dalies pagal Sutartį arba Turisto sugrįžimo į išvykimo vietą paslauga nesuteikiama taip, kaip buvo susitarta, Kelionių organizatorius privalo pasiūlyti Keliautojui be papildomų išlaidų tinkamas alternatyvias paslaugas, kurių kokybė, jeigu įmanoma, būtų lygiavertė Sutartyje nurodytai kokybei arba aukštesnė už ją, kad būtų galima toliau tęsti kelionę. Kai dėl siūlomų alternatyvų kelionė tampa žemesnės kokybės nei nurodyta Sutartyje, Kelionių organizatorius atitinkamai sumažina kelionės kainą.</p>
    
    <p>6.9. Jei pasiūlytos alternatyvos nėra panašios į tas paslaugas, dėl kurių buvo susitarta Sutartyje, arba, jei suteiktas kainos sumažinimas yra neadekvatus, Keliautojas gali jų atsisakyti.</p>
    
    <p>6.10. Jei nepakankama atitiktis iš esmės daro poveikį kelionės vykdymui, o Kelionių organizatorius per Turisto nustatytą pagrįstą laikotarpį padėties neištaiso, Keliautojas gali nutraukti Sutartį nemokėdamas Sutarties nutraukimo mokesčio ir paprašyti sumažinti kainą ir (arba) atlyginti turtinę ir neturtinę žalą.</p>
    
    <p>6.11. Jeigu nėra įmanoma pasiūlyti alternatyvų arba Keliautojas atsisako pasiūlytų alternatyvų pagal Sutarties 6.9 punktą, Keliautojas turi teisę į kainos sumažinimą ir (arba) turtinės ir neturtinės žalos atlyginimą nenutraukiant Sutarties.</p>
    
    <p>6.12. Jeigu kelionė apima keleivių vežimo paslaugą, Kelionių organizatorius šios Sutarties 6.9 – 6.11 punktuose nurodytais atvejais be papildomo užmokesčio turi užtikrinti Turisto grąžinimą į pradinę išvykimo vietą lygiavertės rūšies transportu arba nuvežimą į kitą vietovę, dėl kurios sutinka Keliautojas, taip pat grąžinti Keliautojui pinigus už nesuteiktas paslaugas.</p>
    
    <p>6.13. Jeigu dėl nenugalimos jėgos Kelionių organizatorius negali užtikrinti Turisto grąžinimo taip, kaip numatyta Sutartyje, Kelionių organizatorius privalo apmokėti būtino apgyvendinimo, kurio kategorija, jeigu įmanoma, yra lygiavertė nurodytajai Sutartyje, tam laikotarpiui, kiek trunka nenugalimos jėgos aplinkybės, bet ne ilgesniam kaip trijų nakvynių laikotarpiui kiekvienam Keliautojui, išlaidas, išskyrus atvejus, kai kituose įstatymuose ar Europos Sąjungos teisės aktuose numatyti ilgesni laikotarpiai.</p>
    
    <p>6.14. Keliautojas turi teisę reikalauti, kad jam be nepagrįsto delsimo būtų atlyginta turtinė ir neturtinė žala šiais atvejais:</p>
    
    <p>6.14.1. jeigu dėl Turisto nurodytų trūkumų Sutartis negali būti toliau vykdoma, o Kelionių organizatorius per Turisto nustatytą protingą terminą nepašalina trūkumų;</p>
    
    <p>6.14.2. jeigu Kelionės organizatorius dėl pagrįstų priežasčių negali pasiūlyti alternatyvių paslaugų arba Keliautojas jų atsisako pagal sutarties 6.9 punktą;</p>
    
    <p>6.14.3. kitais LR CK nustatytais atvejais.</p>
    
    <p>6.15. Kelionių organizatorius neatsako už netinkamą Sutarties įvykdymą, jeigu Kelionių organizatorius įrodo, kad Sutartis buvo netinkamai vykdoma dėl:</p>
    
    <p>6.15.1. turisto kaltės;</p>
    
    <p>6.15.2. trečiosios šalies, nesusijusios su paslaugų teikimu pagal Sutartį, kaltės ir todėl nebuvo įmanoma žalos numatyti arba jos išvengti;</p>
    
    <p>6.15.3. nenugalimos jėgos.</p>
    
    <p>6.16. Jeigu žala, išskyrus žalą, atsiradusią dėl Turisto mirties, sveikatos sužalojimo, taip pat tyčinę žalą ar dėl didelio neatsargumo padarytą žalą, Keliautojui padaroma teikiant Sutartyje numatytą paslaugą, tačiau tą paslaugą teikia ne pats Kelionių organizatorius, Kelionių organizatoriaus atsakomybė už tokią žalą gali būti ribojama triguba kelionės kaina.</p>
    
    <p>6.17. Turisto teisė gauti žalos atlyginimą ar teisė į kainos sumažinimą nedaro poveikio keleivių teisėms pagal 2004&nbsp;m. vasario 11 d. Europos Parlamento ir Tarybos reglamentą (EB) Nr.&nbsp;261/2004, nustatantį &nbsp;bendras kompensavimo ir pagalbos keleiviams taisykles atsisakymo vežti ir skrydžių atšaukimo arba atidėjimo ilgam laikui atveju, panaikinantį Reglamentą (EEB) Nr.&nbsp;295/91 (OL 2004 L 046, p. 1), 2007 m. spalio 23 d. Europos Parlamento ir Tarybos reglamentą (EB) Nr. 1371/2007 dėl geležinkelių keleivių teisių ir pareigų (OL 2007 L 315, p.&nbsp;14), 2009 m. balandžio 23 d. Europos Parlamento ir Tarybos reglamentą (EB) Nr. 392/2009 dėl keleivių vežėjų jūra atsakomybės avarijų atveju (OL 2009 L 131, p. 24), 2010 m. lapkričio 24&nbsp;d. Europos Parlamento ir Tarybos reglamentą (ES) Nr. 1177/2010 dėl jūrų ir vidaus vandenų keliais vykstančių keleivių teisių, kuriuo iš dalies keičiamas Reglamentas (EB) Nr. 2006/2004 (OL 2010 L 334, p. 1), 2011 m. vasario 16 d. Europos Parlamento ir Tarybos reglamentą (ES) Nr.&nbsp;181/2011 dėl miesto ir tolimojo susisiekimo autobusų transporto keleivių teisių, kuriuo iš dalies keičiamas Reglamentas (EB) Nr. 2006/2004 (OL 2011 L 55, p. 1), ir pagal tarptautines konvencijas.</p>
    
    <p>6.18. Vežimui oru atitinkamai taikomos Konvencijos dėl tam tikrų taisyklių, susijusių su tarptautiniais vežimais oru, unifikavimo pasirašytos Varšuvoje 1929 m. spalio 12 d., 1955 m. Hagos Protokolo apie Konvencijos dėl tam tikrų taisyklių, susijusių su tarptautiniais vežimais oru, unifikavimo pasirašytos Varšuvoje 1929 m. spalio 12 d., pakeitimą, Konvencijos, dėl tam tikrų tarptautinio vežimo oru taisyklių suvienodinimo, pasirašytos 1999 m. gegužės 28 d. Monrealyje nuostatos, apribojančios Vežėjo atsakomybę ir EC 889/2002 reglamentas, papildantis Europos Tarybos reglamentą EC 2027/97 dėl Vežėjo atsakomybės aviacinių įvykių atveju. Ši Konvencija nustato ir daugelyje atvejų apriboja vežėjo atsakomybę asmens mirties arba sužeidimo atveju, taip pat praradus, sugadinus ar pavėlavus atvežti bagažą.</p>
    
    <p>6.19. Pagal Sutarties 6.14 punktą Kelionių organizatoriaus išmokėtas žalos atlyginimas arba pagal Sutarties 3 skyriaus nuostatas Kelionių organizatoriaus Keliautojui suteiktas kainos sumažinimas ir pagal Sutarties 6.17 punkte nurodytus Europos Sąjungos teisės aktus ir tarptautines konvencijas išmokėtas žalos atlyginimas arba suteiktas kainos sumažinimas Keliautojui išskaitomi vienas iš kito, kad būtų išvengta dvigubo žalos atlyginimo.</p>
    
    <p>6.20. Keliautojui padaryta turtinė ir neturtinė žala atlyginama LR CK nustatyta tvarka.</p>
    
    <p>6.21. Kelionių organizatorius atsako už kataloge ar kitoje kelionę aprašančioje medžiagoje, kuri yra neatskiriama šios Sutarties dalis, pateiktos informacijos teisingumą ir tikslumą, išskyrus bent vieną iš šių atvejų, kai:</p>
    
    <p>6.21.1. Keliautojui iki Sutarties sudarymo buvo pranešta apie šios informacijos pasikeitimus, o kataloge ar kitoje kelionę aprašančioje medžiagoje buvo aiškiai numatyta pakeitimų galimybė;</p>
    
    <p>6.21.2. pakeitimai daromi po Sutarties sudarymo abiejų šalių rašytiniu susitarimu.</p>
    
    <p>6.22. Šalys susitaria ir sutinka, kad, jeigu Keliautojas (-ai) ne dėl Kelionių organizatoriaus kaltės negauna įvažiavimo vizos, pamiršta ar pameta asmens dokumentus, jei dokumentai yra netvarkingi ir neparuošti kelionei, jeigu Keliautojas (-ai) neatvyksta į pirminę išvykimo bei kelionės vadovo nurodytas išvykimo vietas, savavališkai nutraukia kelionę ar atsisako dalies paslaugų, Kelionių organizatorius neatsako ir su tuo susijusių išlaidų Keliautojui&nbsp; neapmoka.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>7. ASMENS DUOMENŲ TVARKYMAS</strong></p>
    
    <p>7.1. Kelionių organizatorius, įgyvendindamas su asmens duomenų tvarkymu susijusius reikalavimus, nustatytus <strong>2016 m. balandžio 27 d. Europos Parlamento ir Tarybos reglamente (ES) 2016/679 dėl fizinių asmenų apsaugos tvarkant asmens duomenis ir dėl laisvo tokių duomenų judėjimo ir kuriuo panaikinama Direktyva 95/46/EB (Bendrasis duomenų apsaugos reglamentas) (toliau – BDAR), šia Sutartimi informuoja Turistą apie jo asmens duomenų tvarkymą.</strong></p>
    
    <p><strong>7.2. Turisto asmens duomenų valdytojas – Kelionių organizatorius. Kelionių organizatorius turi teisę pasitelkti kitus duomenų tvarkytojus, siekiant suteikti šioje Sutartyje numatytas paslaugas.</strong></p>
    
    <p><strong>7.3. Turisto asmens duomenys tvarkomi šiais tikslais:</strong></p>
    
    <p><strong>7.3.1. </strong>kelionių ir turizmo paslaugų teikimas;</p>
    
    <p>7.3.2. tarpininkavimas užsakant apgyvendinimo, vežimo, draudimo paslaugas, taip pat lėktuvo bilietų išrašymui, vizų išdavimui, kelionių paketų pardavimui;</p>
    
    <p>7.3.3. tiesioginė rinkodara.</p>
    
    <p>7.4. Turisto asmens duomenys tvarkomi esant vienam iš teisėto duomenų tvarkymo pagrindų, t. y.:</p>
    
    <p>7.4.1. siekiant įvykdyti sutartį, kurios šalis yra Keliautojas, arba siekiant imtis veiksmų Turisto prašymu prieš sudarant sutartį (BDAR 6 straipsnio 1 dalies b punktas), t. y. kai sudaroma sutartis su Turistu;</p>
    
    <p>7.4.2. siekiant įvykdyti Kelionių organizatoriui taikomą teisinę prievolę (BDAR 6 straipsnio 1 dalies c punktas), pvz. išrašant ar saugant sąskaitas ir kitus apskaitos dokumentus, atsakant į prašymus/pretenzijas ir kt.;</p>
    
    <p>7.4.3. tais atvejais, kai Keliautojas pateikia ne tik savo, o ir kitų asmenų (pvz., grupės) duomenis, jų asmens duomenys yra tvarkomi siekiant Kelionių organizatoriaus teisėtų interesų (BDAR 6 straipsnio 1 dalies f punktas), t. y. kad Kelionių organizatorius žinotų, kokiems asmenims yra faktiškai suteikiamos kelionių ir (ar) turizmo paslaugos. Kelionių organizatorius tokiu atveju tvarko bent tokius šių asmenų duomenis: vardą, pavardę, gimimo datą, telefono numerį;</p>
    
    <p>7.4.4. tais atvejais, kai asmens duomenų tvarkymui reikalingas sutikimas (pvz., tiesioginės rinkodaros tikslais), asmens duomenys yra tvarkomi pagal Turisto duotą sutikimą tvarkyti asmens duomenis (BDAR 6 straipsnio 1 dalies a punktas). Keliautojas turi teisę bet kuriuo metu atšaukti duotą sutikimą, tačiau sutikimo atšaukimas nedaro poveikio sutikimu pagrįsto duomenų tvarkymo, atlikto iki sutikimo atšaukimo, teisėtumui.</p>
    
    <p>7.5. Asmens duomenų, kurių pateikimas Kelionių organizatoriui yra reikalingas šios Sutarties sudarymui ir (ar) įvykdymui, nepateikimas lemia negalėjimą suteikti paslaugas.</p>
    
    <p>7.6. Turisto asmens duomenys gali būti perduodami tretiesiems asmenims, siekiant įvykdyti sudarytą Sutartį, pvz., aviabilietus išrašančioms įmonėms, ambasadoms – dėl vizų išdavimo, viešbučiams, draudimo bendrovėms (brokeriams) – dėl draudimo paslaugų suteikimo, kitiems asmenims ir (ar) paslaugų teikėjams, kuriems duomenų perdavimas reikalingas siekiant įvykdyti sutartį (pvz., samdomiems kelionės vadovams, bilietus parduodančioms įmonėms, kt.).</p>
    
    <p>7.7. Duomenų tvarkymo veiksmams Kelionių organizatorius taip pat gali pasitelkti kitus duomenų tvarkytojus, kurie asmens duomenis tvarko Kelionių organizatoriaus vardu, pvz., kelionių agentūras, per kurias Keliautojas užsisako (perka) Kelionių organizatoriaus paslaugas, taip pat kitus paslaugų teikėjus, pvz., debesijos, serverių nuomos ir susijusias paslaugas teikiančias įmones, IT ūkio priežiūrą atliekančias įmones, buhalterines paslaugas teikiančias įmones ir kt. Duomenų tvarkytojai asmens duomenis tvarko tik pagal Kelionių organizatoriaus nurodymus ir teisės aktų reikalavimus. Turisto asmens duomenys nėra perduodami į trečiąją valstybę arba tarptautinei organizacijai.</p>
    
    <p>7.8. Asmens duomenys saugomi Sutarties galiojimo metu ir 10 metų po sutarties pasibaigimo. Asmens duomenys tiesioginės rinkodaros tikslais yra tvarkomi 5 metus.</p>
    
    <p>7.9. Asmuo turi šias teises, susijusias su asmens duomenų tvarkymu, t. y. teisę susipažinti su savo asmens duomenimis, įskaitant teisę į asmens duomenų kopiją, teisę reikalauti ištaisyti savo asmens duomenis, jeigu jie yra netikslūs, teisę reikalauti ištrinti savo asmens duomenis („teisė būti pamirštam“), teisę reikalauti apriboti savo asmens duomenų tvarkymą, teisę į duomenų perkeliamumą, teisę nesutikti su asmens duomenų tvarkymu (kai duomenys tvarkomi teisėto intereso pagrindu). Asmuo taip pat turi teisę pateikti skundą priežiūros institucijai – Valstybinei duomenų apsaugos inspekcijai (daugiau informacijos <a href="http://www.ada.lt/">www.ada.lt</a>), jeigu mano, kad jo asmens duomenys yra netinkamai tvarkomi.</p>
    
    <p>7.10. Kad Kelionių organizatorius galėtų įgyvendinti šiame skyriuje numatytas teises, asmuo turi pateikti prašymą raštu ir tokiu būdu, kuriuo Kelionių orgaizatorius galėtų asmenį identifikuoti. Prašymai pateikiami el. paštu <a href="mailto:info@kelioniulaikas.lt">info@kelioniulaikas.lt</a> arba adresu Kalvarijų g. 14, LT 09309 Vilnius.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>8. BAIGIAMOSIOS NUOSTATOS</strong></p>
    
    <p>8.1. Kelionės metu atsiradusias pretenzijas dėl Sutarties netinkamo vykdymo ar nevykdymo Keliautojas turi be nepagrįsto delsimo raštu ar patvariojoje laikmenoje pareikšti Sutartyje nurodytam kelionės vadovui, Kelionių organizatoriaus vietiniam atstovui, kontaktiniam centrui ar kitai tarnybai, o jei šių nėra, – Kelionių organizatoriui.</p>
    
    <p>8.2. Turistų pretenzijų Kelionių organizatoriui dėl žalos atlyginimo už netinkamą Sutarties vykdymą ar nevykdymą pateikimo senaties terminas yra 2 (dveji) metai.</p>
    
    <p>8.3. Kai Sutartis sudaryta per kelionių pardavimo agentą, Keliautojas gali pateikti pranešimus, prašymus ar pretenzijas tiesiogiai kelionių pardavimo agentui, kuris be nepagrįsto delsimo perduoda pranešimus, prašymus ar pretenzijas Kelionių organizatoriui. Kelionių pardavimo agentui gavus turisto pranešimus, prašymus ar pretenzijas, laikoma, kad juos gavo Kelionių organizatorius.</p>
    
    <p>8.4. Kelionių organizatorius neatlygintinai išnagrinėja Turisto kreipimąsi ir, kai nesutinka su Turisto reikalavimais, ne vėliau kaip per 14 dienų nuo Turisto kreipimosi gavimo dienos, pateikia Keliautojui išsamų motyvuotą rašytinį atsakymą, pagrįstą dokumentais.&nbsp;</p>
    
    <p>8.5. Ginčai dėl Sutarties netinkamo vykdymo ar nevykdymo ne teisme nagrinėjami Lietuvos Respublikos vartotojų teisių apsaugos įstatymo nustatyta tvarka Valstybinėje vartotojų teisių apsaugos tarnyboje, adresu Vilniaus g. 25, 01402 Vilnius, el. p. tarnyba@vvtat.lt, faks. (8 5) 279 1466, interneto svetainė www.vvtat.lt. Elektroniniu būdu prašymą galima pateikti per EGS platformą http://ec.europa.eu/odr/.</p>
    
    <p>8.6. Turisto kreipimasis į vartojimo ginčus nagrinėjančią instituciją neatima iš Turisto teisės kreiptis į bendrosios kompetencijos teismą LR CPK nustatyta tvarka su prašymu nagrinėti ginčą iš esmės.</p>
    
    <p>8.7. Sutartis sudaroma dviem egzemplioriais, turinčiais vienodą juridinę galią, po vieną kiekvienai šaliai.</p>
    
    <p>8.8. Jeigu Sutartis sudaroma nuotoliniu būdu, Kelionių organizatorius sudaręs Sutartį arba be nepagrįsto delsimo po jos sudarymo patvariojoje laikmenoje Keliautojui pateikia Sutarties kopiją arba Sutarties sudarymo patvirtinimą.</p>
    
    <p>8.9. Ne prekybai skirtose patalpose sudarytos sutarties kopija ar sutarties sudarymo patvirtinimas Keliautojui pateikiami popierine forma arba, jei Keliautojas sutinka, kitoje patvariojoje laikmenoje.</p>
    
    <p>8.10. <strong>Šios Sutarties nuostatos yra privalomos Kelionių organizatoriui ir visiems Turistams. </strong></p>
    
    <p>&nbsp;</p>
    
    <p><strong>9. IŠSKIRTINĖS SĄLYGOS Į ŠIAS KELIONES:</strong></p>
    
    <p>&nbsp;</p>
    
    <p><strong>JAPONIJA</strong></p>
    
    <p>Kelionei į Japoniją vardo , pavardės keitimai galimi už 400 Eur mokestį , kai iki kelionės lieka 10 dienų ir daugiau.</p>
    
    <p>Jei liko mažiau negu 10 dienų, keitimo mokestis 450 Eur asmeniui.</p>
    
    <p>Keitimai turi buti atlikti ne vėliau nei 24 val. Iki skryžio. Vėliau vardo, pavardės keitimai negalimi.</p>
    
    <p>Kelionės datos keitimai negalimi.</p>
    
    <p>&nbsp;</p>
    
    <p><strong>MČTAU KELIONĖ Į KRETĄ (2025 05 06 - 13)</strong></p>
    
    <p>Jeigu Keliautojas nutraukia Sutartį, jis turi sumokėti Kelionės organizatoriui Sutarties nutraukimo mokestį. Šalys susitaria ir sutinka, kad Sutarties nutraukimo mokesčio dydis priklauso nuo laiko, likusio iki kelionės pradžios: jei iki išvykimo lieka daugiau negu 37 dienos – 30 procentų; jei iki išvykimo lieka mažiau nei 37 dienos – 100 procentų.</p>
    
    <p>Likučio mokėjimas 36 dienos iki kelionės.</p>
    
    <p><strong>Keliautojas</strong><strong> patvirtina, kad nuodugniai ir išsamiai susipažino su pateikta Sutartimi ir jos priedais, suprato visas jų nuostatas bei informavo kitus Turistus – naudos gavėjus, kad turistinė kelionė yra organizuojama tik pagal šioje Sutartyje nurodytas sąlygas, kurios buvo individualiai aptartos su Turistu ir Keliautojui</strong><strong> yra priimtinos, ir visi Turistai privalo vykdyti visas Sutarties sąlygas.<br>
    <br>
    Turisto parašas:<br>
    _________________________________________________________________</strong></p>
    
    <p><strong>Keliautojas patvirtina, kad prieš pasirašydamas Sutartį turėjo galimybę susipažinti su skrydį vykdančio oro vežėjo keleivių ir bagažo vežimo sąlygomis, raštu ar kitoje prieinamoje patvariojoje laikmenoje gavo pagrindines vežimo sąlygas (jei perka kelionę lėktuvu).<br>
    Turisto parašas:<br>
    __________________________________________________________________</strong></p>
    
    <p><strong>Keliautojas patvirtina, kad prieš pasirašydamas Sutartį gavo rašytinį dokumentą (sutartį, katalogą, kainyną ir kitą aprašančią medžiagą) arba nuorodą į elektroninį dokumentą ( E katalogą ar kt.) Kelionės organizatoriaus interneto svetainėje (</strong><a href="http://www.kelioniulaikas.lt/"><strong>www.kelioniulaikas.lt</strong></a><strong>), kuriame išdėstyta visa su kelione susijusi informacija: informacija apie apgyvendinimą bei transporto priemonę, kelionėje teikiamas paslaugas, kelionės maršrutą, išvykimo ir grįžimo vietą,&nbsp;</strong><strong>laiką, lankomas vietas, jų epidemiologinę būklę, pavojingų ir ypač pavojingų užkrečiamų ligų profilaktikos priemones, valiutų keitimą, valstybių sienų perėjimo tvarką, daiktų įvežimo apribojimus, vizų gavimą, imunoprofilaktikos reikalavimus, informaciją, leisiančią tiesiogiai susisiekti su vaiku ar atsakingu asmeniu vaiko buvimo vietoje (jei į kelionę nepilnamečiai vyksta vieni), kelionės organizatoriaus atstovą, jo telefoną ir kitus kontaktinius duomenis.<br>
    Turisto parašas:<br>
    _________________________________________________________________</strong></p>
    
    <div>
    <p>&nbsp;</p>
    
    <p><strong>Keliautojas patvirtina, jog yra informuotas apie galimybę sudaryti draudimo sutartis, kad būtų padengtos Turisto patirtos išlaidos dėl neįvykusios kelionės, dėl suteiktos pagalbos, įskaitant repatriaciją, nelaimingo atsitikimo ar ligos atveju, dėl kelionės</strong> <strong>jungties praradimo, dėl bagažo vėlavimo, sugadinimo, sunaikinimo, praradimo, taip pat apie šių draudimų įforminimo tvarką.</strong></p>
    
    <p><strong>Turisto parašas:<br>
    _________________________________________________________________</strong></p>
    
    <p>&nbsp;</p>
    
    <p><strong>Kelionių organizatorius kelionės metu nedraudžia Turistų sveikatos, gyvybės bei civilinės atsakomybės, bagažo ar neįvykusios kelionės draudimu. Kelionės organizatorius neatsako už Turistų bagažo praradimą ar sugadinimą kelionės metu.</strong></p>
    
    <p><strong>Turisto parašas:<br>
    _________________________________________________________________</strong></p>
    
    <p>&nbsp;</p>
    
    <p><strong>Pastabos: </strong></p>
    
    <p>- Keliautojui, atsisakiusiam vykti į kelionę dėl nepalankių meteorologinių sąlygų (sniego dangos storio ir kt.) ir norinčiam atsisakyti Sutarties, yra taikomos Sutarties punktuose numatytos Sutarties atsisakymo sąlygos.</p>
    
    <p>- Šalys susitaria, kad bet kokie Turisto lūkesčiai, paremti spėjimais ir įsivaizdavimais, trečiųjų asmenų pasakojimais, savarankiškai ar trečiųjų asmenų apie lankytinas vietas surinkta informacija ar bet kokiais kitais pagrindais, o ne Kelionių organizatoriaus pateikta informacija, yra nepagrįsti ir neturi būti pagrindu reikšti pretenzijas dėl blogai organizuotos kelionės.</p>
    </div>
    
    <div>
    <p>Kelionių organizatoriaus vietinio atstovo/ kelionių vadovo/ kontaktinio centro, kurie suteiktų Keliautojui galimybę greitai susisiekti su Kelionių organizatoriumi ir su juo bendrauti, kreiptis pagalbos, Keliautojui susidūrus su sunkumais, arba pateikti pretenziją dėl netinkamo sutarties vykdymo ar nevykdymo kontaktai: <em>UAB Kelionių laikas, Kalvarijų g. 14, 852751446, </em><a href="mailto:info@kelioniulaikas.lt"><em>info@kelioniulaikas.lt</em></a><em> .</em></p>
    
    <p><strong>Kai ši Sutartis sudaroma internetu, ji laikoma elektronine sutartimi. Tokiu atveju Keliautojas, sumokėdamas kelionės kainą (ar jos dalį), patvirtina, kad susipažino su visomis Sutarties sąlygomis, sutinka, kad jos būtų Sutarties dalimi, ir sudaro šią Sutartį. </strong></p>
    </div>
            </div>
    
            <div class="contract-check ">
                <label class="checkbox">Susipažinau ir sutinku su kelionės sutarties sąlygomis.
                    <input type="checkbox" name="booking[agreetermsandconditions]">
                    <span class="checkmark"></span>
                </label>
            </div>
        
        <div class="contract-check ">
            <label class="checkbox">Susipažinau ir sutinku su įmonės <a href="https://www.kelioniulaikas.lt/privatumo-politika" target="_blank">privatumo politika</a>.
                <input type="checkbox" name="booking[agreeprivacypolicy]">
                <span class="checkmark"></span>
            </label>
        </div>
    
        
    
        
    
        <div class="actions-row clearfix">
            <button id="go_back_button" type="button" class="btn btn-primary btn-large btn-secondary" onclick="booking_go_back(); return false;"><i class="fa fa-chevron-left"></i> GRĮŽTI</button>
            <button id="go_next_button" type="button" class="btn btn-primary btn-large btn-primary" onclick="booking_go_next(); return false;">Patvirtinti <i class="fa fa-check"></i></button>
        </div>
    
    </div>                                        </form>
                    
                </div>
            </div>
        </div>
    </section>
    
    <footer class="footer position-relative">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <!-- Footer widget 1 -->
                    <div class="col-lg-3 col-sm-7 order-sm-1">
                        <div class="widget address">
                            <a href="https://www.kelioniulaikas.lt" class="footer-logo">
                                <img src="https://www.kelioniulaikas.lt/assets/images/logo.png">
                            </a>
                            <div class="footer-post">
                                
                                <p><strong>“Kelionių Laikas” </strong>yra kelionių organizatorius siūlantis išvykstamojo, atvykstamojo bei vietinio turizmo paslaugas. Turizmo srityje dirbame nuo 2002 metų, turime subūrę didelį puikiai savo darbą išmanančių ir jį mylinčių asmenų komandą. Organizuojame įvairias keliones pavieniams asmenims bei kolektyvams, taip pat specializuotas keliones moksleivių grupėms, senjorams.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Footer widget 2 -->
                    <div class="col-lg-2 col-sm-4 order-sm-3">
                        <div class="widget">
                            <h4>Struktūra</h4>
                            <ul class="nav">
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/atsiliepimai" target="">Atsiliepimai</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/apie-mus" target="">Apie mus</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/kontaktai" target="">Kontaktai</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/dovanu-kuponas" target="">Dovanų kuponas</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones-uzklausa" target="">Kelionės užklausa</a></li>
                                                        </ul>
                        </div>
                    </div>
                    <!-- Footer widget 3 -->
                    <div class="col-lg-2 col-sm-4 order-sm-4">
                        <div class="widget">
                            <h4>Kelionės</h4>
                            <ul class="nav">
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/autobusu-lietuvoje" target="">Kelionės po Lietuvą</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/poilsis-lietuvoje" target="">Poilsis Lietuvoje</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/lektuvu/skrydis-viesbutis" target="">Skrydis + viešbutis</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/pesciomis" target="">Ekskursija pėsčiomis</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/autobusu" target="">Kelionės autobusu</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/lektuvu" target="">Kelionės lėktuvu</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/poilsines" target="">Poilsinės kelionės</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/pazintines" target="">Pažintinės kelionės</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/keliones/savaitgalio" target="">Savaitgalio kelionės</a></li>
                                                        </ul>
                        </div>
                    </div>
                    <!-- Footer widget 4 -->
                    <div class="col-lg-2 col-sm-4 order-sm-5">
                        <div class="widget">
                            <h4>Informacija</h4>
                            <ul class="nav">
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/turizmo-paslaugu-sutartis" target="">Turizmo paslaugų sutartis</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/informacija-vartotojams-koronaviruso-laikotarpiu" target="">Informacija vartotojams koronaviruso laikotarpiu</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/es-projektai" target="">ES projektai</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/privatumo-politika" target="">Privatumo politika</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/informavimas-apie-asmens-duomenu-tvarkyma" target="">Informavimas apie asmens duomenų tvarkymą</a></li>
                                                                <li class="nav-item"><a class="nav-link" href="https://www.kelioniulaikas.lt/files/2021-12/9411.pdf" target="_blank">Kelionės kolektyvams po Lietuvą</a></li>
                                                        </ul>
                        </div>
                    </div>
                    <!-- Footer widget 5 -->
                    <div class="col-lg-3 col-sm-5 order-sm-2">
                        <div class="widget">
                            <h4>UAB „Kelionių laikas“</h4>
                            <ul class="list-unstyled footer-contacts">
                                <li><i class="fas fa-phone"></i><script type="text/javascript">var p11 = '(+37', p21 = '(+37', p12 = '0)52', p13 = '751797', p23 = ' 275 17 97', p22 = '0) 5'; document.write('<a href="tel:' + p11 + p12 + p13 + '" target="_blank">' + p21 + p22 + p23 + '</a>');</script><a href="tel:(+370)52751797" target="_blank">(+370) 5 275 17 97</a></li>
                                <li><i class="far fa-envelope"></i><script type="text/javascript">var e2 = 'kelioniulaikas.lt', e1 = 'info'; document.write('<a href="mailto:' + e1 + '@' + e2 + '" target="_blank">' + e1 + '@' + e2 + '</a>');</script><a href="mailto:info@kelioniulaikas.lt" target="_blank">info@kelioniulaikas.lt</a></li>
                                <li><i class="fas fa-map-marked-alt"></i><p>Kalvarijų g. 14, LT 09309 Vilnius</p></li>
                                <li><i class="far fa-clock"></i><p>I-V <strong>9.00 - 18.00</strong><br>VI-VII <strong>nedirbame</strong></p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider mt-3"></div>
        <!--footer copyright -->
        <div class="footer-copyright">
            <div class="container">
                © 2025 Kopijuoti turinį be sutikimo draudžiama. Sprendimas <a target="_blank" href="http://digis.lt">digis.lt</a>
            </div>
        </div>
    </footer>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Uždaryti"></button>

                <button class="pswp__button pswp__button--share" title="Dalintis"></button>

                <button class="pswp__button pswp__button--fs" title="Pilnas ekranas"></button>

                <button class="pswp__button pswp__button--zoom" title="Padidinti / sumažinti"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Atgal">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Toliau">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<style>
    /* Basic styling for the payment form */
    #payment-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    #payment-element {
        margin-bottom: 20px;
    }
    #card-errors {
        color: red;
        margin-top: 10px;
    }
</style>
<div id="paymentModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="payment-form">
            <div id="payment-element"></div>
            <div id="card-errors" role="alert"></div>
            <button type="submit">Pay</button>
        </form>
    </div>
</div>
<!-- <form id="payment-form">
    <div id="payment-element"></div>
    <div id="card-errors" role="alert"></div>
    <button type="submit">Pay</button>
</form> -->


        <script src="/javascript/seats.js" type="text/javascript"></script>
        <form action="/checkout" method="post">
            <input type="submit" value="Proceed to Checkout">
        </form>

        
<iframe name="__uspapiLocator" tabindex="-1" role="presentation" aria-hidden="true" title="Blank" style="display: none; position: absolute; width: 1px; height: 1px; top: -9999px;"></iframe><script>
// Custom JavaScript


    //var modal = document.getElementById("paymentModal");

    let booking_go_next = function() {
        //modal.style.display = "block";
        fetch('/checkout', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ 
                totalamount: <%= ses.travelObj.cost %>, 
                numberofUsers: <%= ses.travellersCount.amount %>, 
                priceperuser: <%= ses.travelObj.cost %>, 
                discount: <%= ses.travelObj.discount %> }) // Amount in cents
        })
        .then (response => response.json())
            .then(html => {
                console.log('Trip details fetched:', html);
                // Redirect to a different page
                window.location.href = html.url
            })
            .catch((error) => {
                console.log('Error', error);
            });
    };







// end Custom JavaScript

// Book JavaScript

// END Book JavaScript

// Facebook pixel events


// END Facebook pixel events
</script>


<ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul><div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div><ul id="ui-id-2" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul><div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div><div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div><iframe tabindex="-1" role="presentation" aria-hidden="true" title="Blank" src="https://consentcdn.cookiebot.com/sdk/bc-v4.min.html" style="position: absolute; width: 1px; height: 1px; top: -9999px;"></iframe><div id="veepn-guard-alert"></div><style>@font-face{font-family:FigtreeVF;src:url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2 supports variations"),url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2-variations");font-weight:100 1000;font-display:swap}</style><div id="veepn-breach-alert"></div><style>@font-face{font-family:FigtreeVF;src:url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2 supports variations"),url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2-variations");font-weight:100 1000;font-display:swap}</style><img id="CookiebotSessionPixel" src="https://imgsct.cookiebot.com/1.gif?dgi=830b35ab-2f01-43eb-ae32-302b067aab6b" alt="Cookiebot session tracker icon loaded" data-cookieconsent="ignore" style="display: none;"></body></html>