<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/range.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
          <div class="container">
            <div id="top-header" class="col-top-header">
              <div class="contact-info">
                <a href="tel:37065955770">
                  <img class="icon" src="<%= baseUrl %>/img/phone-svgrepo-com.svg" />
                  <span>(+370) 659 55770</span>
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/mail-svgrepo-com.svg" />
                  <span>info@mail.com</span>
                </a>
              </div>
              <div class="top-header-links">
                <a href="<%= baseUrl %>/apie-mus.html">
                  <img class="icon" src="<%= baseUrl %>/img/info-circle-svgrepo-com.svg" />
                  <span>Apie mus</span>
                </a>
                <a href="<%= baseUrl %>/kontaktai.html">
                  <img class="icon" src="<%= baseUrl %>/img/location-svgrepo-com.svg" />
                  <span>Kontaktai</span>
                </a>
                <a href="<%= baseUrl %>/dashboard">
                    <img class="icon" src="<%= baseUrl %>/img/user-svgrepo-com.svg" />
                    <span>Login</span>
                  </a>
              </div>
              <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100080044436184">
                  <img class="icon" src="<%= baseUrl %>/img/facebook-svgrepo-com.svg" />
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/instagram-svgrepo-com.svg" />
                </a>
              </div>
            </div>
            <div id="main-header" class="col-main-header">
              <div id="logo">
                <a href="<%= baseUrl %>/index" class="logo">
                  <span>VšĮ "Prasmingam gyvenimui"</span>
                </a>
              </div>
              <div id="menu">
                <a href="<%= baseUrl %>/autubusu.html">
                  <img class="icon" src="<%= baseUrl %>/img/bus-svgrepo-com.svg" />
                  <span>Autobusu</span>
                </a>
                <a href="<%= baseUrl %>/lietuvoje.html">
                  <img class="icon" src="<%= baseUrl %>/img/flag-for-flag-lithuania-svgrepo-com.svg" />
                  <span>Lietuvoje</span>
                </a>
                <a href="<%= baseUrl %>/uzsienyje.html">
                  <img class="icon" src="<%= baseUrl %>/img/globe-svgrepo-com.svg" />
                  <span>Užsienyje</span>
                </a>
                <a href="<%= baseUrl %>/garantuotos.html">
                  <img class="icon" src="<%= baseUrl %>/img/approved-aproved-confirm-2-svgrepo-com.svg" />
                  <span>Garantuotos</span>
                </a>
                <a href="<%= baseUrl %>/kaledines.html">
                  <img class="icon" src="<%= baseUrl %>/img/christmas-tree-svgrepo-com.svg" />
                  <span>Kalėdinės</span>
                </a>
              </div>
              <div id="search">
                <a href="#" id="searchIcon">
                  <img class="icon" src="<%= baseUrl %>/img/search-svgrepo-com.svg" />
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- end mobile search modal -->
        <!-- Mobile search modal -->
        <div id="searchMobile" class="hidden">
          <div class="search-container">
            <div class="search-content">
              <form action="<%= baseUrl %>/your-backend-endpoint" method="POST">
                <div class="data-input-container">
                  <div class="data-input-col">
                    <div class="data-input-field data-input-country">
                      <input type="text" placeholder="Kelionė arba šalis" name="tour" id="tour-name" autocomplete="off" class="country">
                    </div>
                    <div class="data-input-field data-input-transport">
                      <label class="checkbox-icon" title="Autobusu">
                        <input type="checkbox" class="select-only-one" name="transport" value="bus">
                        <span class="checkbody">
                          <span class="checkmark">
                            <img src="<%= baseUrl %>/img/bus-svgrepo-com.svg" />
                          </span>
                        </span>
                      </label>
                      <label class="checkbox-icon" title="Lėktuvu">
                        <input type="checkbox" class="select-only-one" name="transport" value="plane">
                        <span class="checkbody">
                          <span class="checkmark">
                            <img src="<%= baseUrl %>/img/airplane-svgrepo-com.svg" />
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="data-input-col">
                    <div class="data-input-field data-input-date">
                      <div class="data-input-date-from">
                        <input type="date" placeholder="Data nuo" name="date_from" id="d1" class="date-from">
                      </div>
                      <div class="data-input-field data-input-date-to">
                        <input type="date" placeholder="Data iki" name="date_to" id="d2" class="date-to">
                      </div>
                    </div>
                    <div class="data-input-field data-input-tour-type">
                      <select name="travel_type" id="keliones-tipas" class="">
                        <option value="" selected>Kelionės tipas</option>
                        <option value="1">Pažintinės</option>
                        <option value="2">Poilsinės</option>
                        <!-- Add more options as needed -->
                      </select>
                    </div>
                  </div>
                  <div class="data-input-col">
                    <div class="data-input-field data-input-price-range">
                      <h3 class="range-title">Kelionės kaina</h3>
                      <div class="range_container">
                        <div class="form_control">
                          <div class="form_control_container">
                            <div class="form_control_container__time">Min</div>
                            <input class="form_control_container__time__input" type="number" id="fromInput" name="price_min" value="80" min="0" max="3999"/>
                          </div>
                          <div class="form_control_container">
                            <div class="form_control_container__time">Max</div>
                            <input class="form_control_container__time__input" type="number" id="toInput" name="price_max" value="3000" min="0" max="3999"/>
                          </div>
                        </div>
                        <div class="sliders_control">
                          <input id="fromSlider" type="range" value="80" min="0" max="3999"/>
                          <input id="toSlider" type="range" value="3000" min="0" max="3999"/>
                        </div>
                      </div>
                    </div>
                    <div class="data-input-field data-input-submit">
                      <button type="submit" class="btn-search-submit">
                        <img src="<%= baseUrl %>/img/search-svgrepo-com-white.svg" />
                        <span>Ieškoti</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end mobile search modal -->
      </header>

    <iframe name="__uspapiLocator" tabindex="-1" role="presentation" aria-hidden="true" title="Blank" style="display: none; position: absolute; width: 1px; height: 1px; top: -9999px;"></iframe>

    <div class="innerpage-banner" style="background-image: url();">
        <div class="container">
            <h1 class="innerpage-title"> <%= trip.trip_name %> </h1>
            <div class="dynamic-filter-links"></div>
            </nav>
        </div>
    </div>

    <section class="pt50 pb50 book-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="booking-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active">
                                <i class="fa fa-calendar"></i> Data
                            </li>
                            <li class="nav-item">
                                <i class="fa fa-users"></i> Keliautojai
                            </li>
                            <li class="nav-item">
                                <i class="fa fa-bus"></i> Vieta autobuse
                            </li>
                            <li class="nav-item">
                                <i class="fa fa-check"></i> Patvirtinimas
                            </li>
                        </ul>
                    </div>

                    <form id="booking_form" method="POST" action="">
                        <input type="hidden" name="step" value="1">
                        <input type="hidden" id="session_key" name="session_key" value="booking-DDCDC72F9D5EDC5C">
                        <div class="booking booking-step-1">
                            <div class="form-group">
                                <h3><label>Kelionės data *</label></h3>
                                <select id="travel_date_select" name="traveldateid" class="form-control" onchange="selectBookingTravelDate();" data-trips="<%= JSON.stringify(trip.trips) %>">
                                    <option value="">-- nepasirinkta --</option>
                                    <% trip.trips.forEach( (e) => { %>
                                        <% let formattedDate = e.date.toISOString().split('T')[0]; %>
                                        <option value="<%= e %>" ><%=formattedDate %> <%=e.time %></option>
                                    <% }); %>
                                </select>
                            </div>

                            <div class="form-group">
                                <div id="travellers_count_block">
                                    <label>Keliautojų skaičius *</label>
                                    <div id="travellers_count">
                                        <select id="travellers_count_select" name="travellers_count" onchange="bookingLoadDateTravellersSelect();" class="form-control">
                                            <option value="1" selected>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="coupon-row">
                                <label>Nuolaidos kodas</label>
                                <input id="coupon_code" type="text" name="coupon_code" class="input-text" value="" autocomplete="off">
                                <button class="btn btn-primary btn-secondary" onclick="checkCoupon(); return false;">Panaudoti</button>
                                <div id="coupon-messages"></div>
                            </div> -->

                            <div class="total-row clearfix">
                                Viso:
                                <span id="booking_total_price_loading" class="total-price-loading" style="display: none;"><i class="fa fa-spinner fa-pulse"></i></span>
                                <span id="booking_total_price" class="total-price" style="display: inline;"><%= trip.trips[0].cost %> </span> <span class="total-price" style="display: inline;">€</span>
                            </div>

                            <div class="actions-row clearfix">
                                <button id="go_next_button" type="button" class="btn btn-primary btn-large btn-primary" onclick="booking_go_next(); return false;">TĘSTI <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer id="site-footer">
        <div class="container">
          <div class="column-wrapper">
            <div class="footer-col info-company">
              <div id="logo" class="logo">
                <a href="<%= baseUrl %>/index-2.html">
                  <span>VšĮ "Prasmingam gyvenimui"</span>
                </a>
              </div>
              <p class="company-desc-1">Kelionės autobusu - Jūsų Prasmingam gyvenimui</p>
              <h3 class="company-desc-2">Džiaugiamės, kad domitės mūsų pasiūlymais!</h3>
            </div>
            <div class="footer-col info-contact">
              <h3 class="info-header">susisiekime</h3>
              <div class="contact-info">
                <a href="tel:37065955770">
                  <img class="icon" src="<%= baseUrl %>/img/phone-svgrepo-com-white.svg" />
                  <span>(+370) 659 55770</span>
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/mail-svgrepo-com-white.svg" />
                  <span>info@mail.com</span>
                </a>
              </div>
              <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100080044436184">
                  <img class="icon" src="<%= baseUrl %>/img/facebook-svgrepo-com-white.svg" />
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/instagram-svgrepo-com-white.svg" />
                </a>
              </div>
              <div class="work-hours">
                <p>I-V 9-13 val.</p>
                <p>IV-IIV nedirbame</p>
              </div>
            </div>
            <div class="footer-col info-link">
              <h3 class="info-header">Struktura</h3>
              <a href="<%= baseUrl %>/apie-mus.html" class="link-item">Apie mus</a>
              <a href="<%= baseUrl %>/kontaktai.html" class="link-item">Kontaktai</a>
            </div>
            <div class="footer-col info-trips">
              <h3 class="info-header">Kelionės</h3>
              <a href="<%= baseUrl %>/augustavas.html" class="link-item">Augustavas Lenkija</a>
              <a href="<%= baseUrl %>/balstoge.html" class="link-item">Balstoge Lenkija</a>
              <a href="<%= baseUrl %>/druskininkai.html" class="link-item">Druskininkai</a>
              <a href="<%= baseUrl %>/kursiu-nerija.html" class="link-item">Kursiu nerija</a>
              <a href="<%= baseUrl %>/vilko-guolis.html" class="link-item">Vilko guolis Lenkija</a>
              <a href="<%= baseUrl %>/zarasai.html" class="link-item">Zarasai</a>
              <a href="<%= baseUrl %>/zemaitija.html" class="link-item">Zemaitija</a>
            </div>
            <div class="footer-col info-more-links">
              <h3 class="info-header">Informacija</h3>
              <a href="<%= baseUrl %>/turizmo-paslaugų-sutartis.html" class="link-item">Turizmo paslaugų sutartis</a>
              <a href="<%= baseUrl %>/informacija-vartotojams-koronaviruso-laikotarpiu.html" class="link-item">Informacija vartotojams koronaviruso laikotarpiu</a>
              <a href="<%= baseUrl %>/es-projektai.html" class="link-item">ES projektai</a>
              <a href="<%= baseUrl %>/privatumo-politika.html" class="link-item">Privatumo politika</a>
              <a href="<%= baseUrl %>/informavimas-apie-asmens-duomenų-tvarkymą.html" class="link-item">Informavimas apie asmens duomenų tvarkymą</a>
              <a href="<%= baseUrl %>/kelionės-kolektyvams-po-lietuvą.html" class="link-item">Kelionės kolektyvams po Lietuvą</a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>Copyright 2024. Your company name. All rights reserved.</p>
        </div>
      </footer>
      <script src="<%= baseUrl %>/javascript/search-toggle.js"></script>
      <script src="<%= baseUrl %>/javascript/searchForm.js"></script>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Uždaryti"></button>
                    <button class="pswp__button pswp__button--share" title="Dalintis"></button>
                    <button class="pswp__button pswp__button--fs" title="Pilnas ekranas"></button>
                    <button class="pswp__button pswp__button--zoom" title="Padidinti / sumažinti"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Atgal"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Toliau"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/site/js/popper.js" type="text/javascript"></script>
    <script src="/assets/site/js/script.min.js?v=1.52" type="text/javascript"></script>
    <iframe tabindex="-1" role="presentation" aria-hidden="true" title="Blank" src="https://consentcdn.cookiebot.com/sdk/bc-v4.min.html" style="position: absolute; width: 1px; height: 1px; top: -9999px;"></iframe>

    <script>
    const tripsData = <%- JSON.stringify(trip.trips) %>;
    let tripOBJECT = tripsData[0];
    console.log('tripobj ',tripOBJECT);

    function selectBookingTravelDate() {
        console.log('tripobj ',tripOBJECT);
        // Get the selected travel date element
        const travelDateSelect = document.getElementById('travel_date_select');

                // Get the selected index
        const selectedIndex = travelDateSelect.selectedIndex;
        //console.log(tripsData);
        
        if (selectedIndex) {
            const tripOBJECT = tripsData[selectedIndex];
            // Get the maximum number of travelers available for the selected trip
            const maxTravelers = tripsData[selectedIndex-1].seatstotal - tripsData[selectedIndex-1].seatstaken;
        // Assuming maxTravelers is a property of the trip object
            // Get the travellers count select element
            const travellersCountSelect = document.getElementById('travellers_count_select');

            // Clear existing options
            travellersCountSelect.innerHTML = '';
            console.log(maxTravelers, 'maxtravelers')
            // Populate the travellers count select with new options
            for (let i = 1; i <= maxTravelers; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.text = i;
               
                travellersCountSelect.appendChild(option);
            }
        }
    }

    function bookingLoadDateTravellersSelect() {
        const travelDateSelect = document.getElementById('travel_date_select');
        const selectedIndex = travelDateSelect.selectedIndex;

        let cost = tripsData[selectedIndex-1].cost - tripsData[selectedIndex-1].discount;
        
        let people = document.getElementById('travellers_count_select').value;
        document.getElementById('booking_total_price').textContent = cost*people;




    }

    const booking_go_next = function () {
           //let tripobj = document.getElementById('travel_date_select').value;
            
            let amount = document.getElementById('travellers_count_select').value;
            let tripid = '<%= trip._id %>';
            let tripname = '<%= trip.trip_name %>';
            let trip_pickup = '<%= trip.trip_pickuppoints %>';
            tripOBJECT.trip_name = tripname;
            tripOBJECT.trip_pickup = trip_pickup;
            tripOBJECT.parent_tripid = tripid;
                // First fetch call
            fetch('/update-session-tripobj', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(tripOBJECT)  // Passing an object
            })
            .then(response => response.json())
            .then(data => {
                console.log('Session updated with tripobj:', data);
                // Second fetch call
                return fetch('/update-session-travellersCount', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({amount}) // Passing an object
                });
            })
            .then(response => response.json())
            .then(data => {
                console.log('Session updated with travellersCount:', data);
                // Fetch trip details
                return fetch(`/trip/${tripid}/buy2`);
            })
            .then(response => response.text()) // Fetch the HTML content as text
            .then(html => {
                console.log('Trip details fetched:', html);
                // Redirect to a different page
                window.location.href = '/trip/' + tripid + '/buy2';
            })
            .catch(error => console.error('Error:', error));
            // fetch('/trip/${tripid}/buy2', {
            //     method: 'GET',
            //     headers: {
            //         'Content-Type': 'application/json'
            //     }
            // })
            // .then(response => response.json())
            // .then(data => {
            //     console.log('Session updated:', data);
            //     // You can redirect or update the UI here
            // })
            // .catch(error => console.error('Error:', error));
            
    }
            
       
    </script> 
    <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
    <div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
    <ul id="ui-id-2" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
    <div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
    <div id="veepn-breach-alert"></div>
    <style>@font-face{font-family:FigtreeVF;src:url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2 supports variations"),url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2-variations");font-weight:100 1000;font-display:swap}</style>

</body>
</html>
