<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/range.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700" rel="stylesheet">
    <script src="/javascript/seats.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
          <div class="container">
            <div id="top-header" class="col-top-header">
              <div class="contact-info">
                <a href="tel:37065955770">
                  <img class="icon" src="<%= baseUrl %>/img/phone-svgrepo-com.svg" />
                  <span>(+370) 659 55770</span>
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/mail-svgrepo-com.svg" />
                  <span>info@mail.com</span>
                </a>
              </div>
              <div class="top-header-links">
                <a href="<%= baseUrl %>/apie-mus.html">
                  <img class="icon" src="<%= baseUrl %>/img/info-circle-svgrepo-com.svg" />
                  <span>Apie mus</span>
                </a>
                <a href="<%= baseUrl %>/kontaktai.html">
                  <img class="icon" src="<%= baseUrl %>/img/location-svgrepo-com.svg" />
                  <span>Kontaktai</span>
                </a>
                <a href="<%= baseUrl %>/dashboard">
                    <img class="icon" src="<%= baseUrl %>/img/user-svgrepo-com.svg" />
                    <span>Login</span>
                </a>
              </div>
              <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100080044436184">
                  <img class="icon" src="<%= baseUrl %>/img/facebook-svgrepo-com.svg" />
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/instagram-svgrepo-com.svg" />
                </a>
              </div>
            </div>
            <div id="main-header" class="col-main-header">
              <div id="logo">
                <a href="<%= baseUrl %>/index" class="logo">
                  <span>VšĮ "Prasmingam gyvenimui"</span>
                </a>
              </div>
              <div id="menu">
                <a href="<%= baseUrl %>/autubusu.html">
                  <img class="icon" src="<%= baseUrl %>/img/bus-svgrepo-com.svg" />
                  <span>Autobusu</span>
                </a>
                <a href="<%= baseUrl %>/lietuvoje.html">
                  <img class="icon" src="<%= baseUrl %>/img/flag-for-flag-lithuania-svgrepo-com.svg" />
                  <span>Lietuvoje</span>
                </a>
                <a href="<%= baseUrl %>/uzsienyje.html">
                  <img class="icon" src="<%= baseUrl %>/img/globe-svgrepo-com.svg" />
                  <span>Užsienyje</span>
                </a>
                <a href="<%= baseUrl %>/garantuotos.html">
                  <img class="icon" src="<%= baseUrl %>/img/approved-aproved-confirm-2-svgrepo-com.svg" />
                  <span>Garantuotos</span>
                </a>
                <a href="<%= baseUrl %>/kaledines.html">
                  <img class="icon" src="<%= baseUrl %>/img/christmas-tree-svgrepo-com.svg" />
                  <span>Kalėdinės</span>
                </a>
              </div>
              <div id="search">
                <a href="#" id="searchIcon">
                  <img class="icon" src="<%= baseUrl %>/img/search-svgrepo-com.svg" />
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- end mobile search modal -->
        <!-- Mobile search modal -->
        <div id="searchMobile" class="hidden">
          <div class="search-container">
            <div class="search-content">
              <form action="<%= baseUrl %>/your-backend-endpoint" method="POST">
                <div class="data-input-container">
                  <div class="data-input-col">
                    <div class="data-input-field data-input-country">
                      <input type="text" placeholder="Kelionė arba šalis" name="tour" id="tour-name" autocomplete="off" class="country">
                    </div>
                    <div class="data-input-field data-input-transport">
                      <label class="checkbox-icon" title="Autobusu">
                        <input type="checkbox" class="select-only-one" name="transport" value="bus">
                        <span class="checkbody">
                          <span class="checkmark">
                            <img src="<%= baseUrl %>/img/bus-svgrepo-com.svg" />
                          </span>
                        </span>
                      </label>
                      <label class="checkbox-icon" title="Lėktuvu">
                        <input type="checkbox" class="select-only-one" name="transport" value="plane">
                        <span class="checkbody">
                          <span class="checkmark">
                            <img src="<%= baseUrl %>/img/airplane-svgrepo-com.svg" />
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="data-input-col">
                    <div class="data-input-field data-input-date">
                      <div class="data-input-date-from">
                        <input type="date" placeholder="Data nuo" name="date_from" id="d1" class="date-from">
                      </div>
                      <div class="data-input-field data-input-date-to">
                        <input type="date" placeholder="Data iki" name="date_to" id="d2" class="date-to">
                      </div>
                    </div>
                    <div class="data-input-field data-input-tour-type">
                      <select name="travel_type" id="keliones-tipas" class="">
                        <option value="" selected>Kelionės tipas</option>
                        <option value="1">Pažintinės</option>
                        <option value="2">Poilsinės</option>
                        <!-- Add more options as needed -->
                      </select>
                    </div>
                  </div>
                  <div class="data-input-col">
                    <div class="data-input-field data-input-price-range">
                      <h3 class="range-title">Kelionės kaina</h3>
                      <div class="range_container">
                        <div class="form_control">
                          <div class="form_control_container">
                            <div class="form_control_container__time">Min</div>
                            <input class="form_control_container__time__input" type="number" id="fromInput" name="price_min" value="80" min="0" max="3999"/>
                          </div>
                          <div class="form_control_container">
                            <div class="form_control_container__time">Max</div>
                            <input class="form_control_container__time__input" type="number" id="toInput" name="price_max" value="3000" min="0" max="3999"/>
                          </div>
                        </div>
                        <div class="sliders_control">
                          <input id="fromSlider" type="range" value="80" min="0" max="3999"/>
                          <input id="toSlider" type="range" value="3000" min="0" max="3999"/>
                        </div>
                      </div>
                    </div>
                    <div class="data-input-field data-input-submit">
                      <button type="submit" class="btn-search-submit">
                        <img src="<%= baseUrl %>/img/search-svgrepo-com-white.svg" />
                        <span>Ieškoti</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end mobile search modal -->
      </header>

    <iframe name="__uspapiLocator" tabindex="-1" role="presentation" aria-hidden="true" title="Blank" style="display: none; position: absolute; width: 1px; height: 1px; top: -9999px;"></iframe>

    <div class="innerpage-banner" style="background-image: url();">
        <div class="container">
            <h1 class="innerpage-title"> <%= trip.trip_name %> </h1>
            <div class="dynamic-filter-links"></div>
            </nav>
        </div>
    </div>

    <section class="pt50 pb50 book-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="booking-tabs">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <i class="fa fa-calendar"></i> Data
                            </li>
                            <li class="nav-item active">
                                <i class="fa fa-users"></i> Keliautojai
                            </li>
                            <li class="nav-item">
                                <i class="fa fa-bus"></i> Vieta autobuse
                            </li>
                            <li class="nav-item">
                                <i class="fa fa-check"></i> Patvirtinimas
                            </li>
                        </ul>
                    </div>

                    <form id="booking_form" method="POST" action="">

                        <div class="booking booking-step-2">
                           <div id="booking_customer_form"></div>
                           <h2>Keliautojai</h2>
                           <div class="travellers">

                           <% for(let i = 0; i<+ses.travellersCount.amount; i++) {%>

                              <div id="traveller-<%=i%>" class="traveller">
                                 <h4 class="traveller-title"><%=i+1%>-asis keliautojas <small class="red">(kaip nurodyta pase ar tapatybės kortelėje)</small></h4>
                                 <div class="row">
                                    <div class="col-sm-12 col-sm-6  col-md-6 form-group">
                                       <label>Vardas *</label>
                                       <input type="text" id="traveller-<%=i%>-firstname" name="travellers[<%=i%>][person][firstname]" class="form-control " value="" required>
                                    </div>
                                    <div class="col-sm-12 col-sm-6  col-md-6 form-group">
                                       <label>Pavardė *</label>
                                       <input type="text" id="traveller-<%=i%>-lastname" name="travellers[<%=i%>[person][lastname]" class="form-control " value="" required>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12 col-sm-6  col-md-6 form-group">
                                       <label>Gimimo data *</label>
                                       <input type="text" id="traveller-<%=i%>-birthday" name="travellers[<%=i%>][person][birthday]" class="form-control " value="" placeholder="Formatas 2024-12-20" required>
                                    </div>
                                    <div class="col-sm-12 col-sm-6  col-md-6 form-group">
                                       <label>Asmens kodas *</label>
                                       <input type="text" id="traveller-<%=i%>-personcode" name="travellers[<%=i%>][person][personcode]" class="form-control " value="" required>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12 col-sm-6  col-md-6 form-group">
                                       <label for="traveller-<%=i%>-email">El. paštas <span id="first-traveller-email-asterisk">*</span></label>
                                       <input id="traveller-<%=i%>-email" name="travellers[<%=i%>][person][email]" type="email" value="" class="form-control " required>
                                    </div>
                                    <div class="col-sm-12 col-sm-6  col-md-6 form-group">
                                       <label for="traveller-<%=i%>-city">Miestas <span id="first-traveller-city-asterisk">*</span></label>
                                       <input id="traveller-<%=i%>-city" name="travellers[<%=i%>][person][city]" type="text" value="" class="form-control " required>
                                    </div>
                                 </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-12 col-sm-6  col-md-6 form-group">
                                       <label>Telefonas *</label>
                                       <input type="text" id="travellers-<%=i%>-phone" name="travellers[<%=i%>][person][phone]" class="form-control " value="" placeholder="+370 6...">
                                    </div>
                                    <div class="col-sm-12 col-sm-6 col-md-6 form-group">
                                       <label>Išvykimo miestas *</label>
                                       <select id="travellers[<%=i%>][departurecityid]" name="travellers[<%=i%>][departurecityid]" class="form-control ">
                                          <option value="">-- pasirinkite --</option>
                                          <% let pickupArr = ses.travelObj.trip_pickup.split(', '); %>
                                          <% for(let a = 0 ; a<pickupArr.length; a++) { %>
                                            <option value="<%=a%>"><%=pickupArr[a] %></option> %>
                                          <% }%>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                              
                            <%}%>
                           </div>
                           <div class="total-row clearfix">
                              Viso: <%= (ses.travelObj.cost-(ses.travelObj.cost/100*ses.travelObj.discount))*ses.travellersCount.amount; %>
                              <span id="booking_total_price_loading" class="total-price-loading" style="display: none;"><i class="fa fa-spinner fa-pulse"></i></span>
                              <span id="booking_total_price" class="total-price">€</span>
                              
                           </div>
                           <div class="actions-row clearfix">
                              <button id="go_back_button" type="button" class="btn btn-primary btn-large btn-secondary" onclick="booking_go_back(); return false;"><i class="fa fa-chevron-left"></i> GRĮŽTI</button>
                              <button id="go_next_button" type="button" class="btn btn-primary btn-large btn-primary" onclick="booking_go_next(); return false;">TĘSTI <i class="fa fa-chevron-right"></i></button>
                           </div>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </section>

    <footer id="site-footer">
        <div class="container">
          <div class="column-wrapper">
            <div class="footer-col info-company">
              <div id="logo" class="logo">
                <a href="<%= baseUrl %>/index-2.html">
                  <span>VšĮ "Prasmingam gyvenimui"</span>
                </a>
              </div>
              <p class="company-desc-1">Kelionės autobusu - Jūsų Prasmingam gyvenimui</p>
              <h3 class="company-desc-2">Džiaugiamės, kad domitės mūsų pasiūlymais!</h3>
            </div>
            <div class="footer-col info-contact">
              <h3 class="info-header">susisiekime</h3>
              <div class="contact-info">
                <a href="tel:37065955770">
                  <img class="icon" src="<%= baseUrl %>/img/phone-svgrepo-com-white.svg" />
                  <span>(+370) 659 55770</span>
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/mail-svgrepo-com-white.svg" />
                  <span>info@mail.com</span>
                </a>
              </div>
              <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100080044436184">
                  <img class="icon" src="<%= baseUrl %>/img/facebook-svgrepo-com-white.svg" />
                </a>
                <a href="#">
                  <img class="icon" src="<%= baseUrl %>/img/instagram-svgrepo-com-white.svg" />
                </a>
              </div>
              <div class="work-hours">
                <p>I-V 9-13 val.</p>
                <p>IV-IIV nedirbame</p>
              </div>
            </div>
            <div class="footer-col info-link">
              <h3 class="info-header">Struktura</h3>
              <a href="<%= baseUrl %>/apie-mus.html" class="link-item">Apie mus</a>
              <a href="<%= baseUrl %>/kontaktai.html" class="link-item">Kontaktai</a>
            </div>
            <div class="footer-col info-trips">
              <h3 class="info-header">Kelionės</h3>
              <a href="<%= baseUrl %>/augustavas.html" class="link-item">Augustavas Lenkija</a>
              <a href="<%= baseUrl %>/balstoge.html" class="link-item">Balstoge Lenkija</a>
              <a href="<%= baseUrl %>/druskininkai.html" class="link-item">Druskininkai</a>
              <a href="<%= baseUrl %>/kursiu-nerija.html" class="link-item">Kursiu nerija</a>
              <a href="<%= baseUrl %>/vilko-guolis.html" class="link-item">Vilko guolis Lenkija</a>
              <a href="<%= baseUrl %>/zarasai.html" class="link-item">Zarasai</a>
              <a href="<%= baseUrl %>/zemaitija.html" class="link-item">Zemaitija</a>
            </div>
            <div class="footer-col info-more-links">
              <h3 class="info-header">Informacija</h3>
              <a href="<%= baseUrl %>/turizmo-paslaugų-sutartis.html" class="link-item">Turizmo paslaugų sutartis</a>
              <a href="<%= baseUrl %>/informacija-vartotojams-koronaviruso-laikotarpiu.html" class="link-item">Informacija vartotojams koronaviruso laikotarpiu</a>
              <a href="<%= baseUrl %>/es-projektai.html" class="link-item">ES projektai</a>
              <a href="<%= baseUrl %>/privatumo-politika.html" class="link-item">Privatumo politika</a>
              <a href="<%= baseUrl %>/informavimas-apie-asmens-duomenų-tvarkymą.html" class="link-item">Informavimas apie asmens duomenų tvarkymą</a>
              <a href="<%= baseUrl %>/kelionės-kolektyvams-po-lietuvą.html" class="link-item">Kelionės kolektyvams po Lietuvą</a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>Copyright 2024. Your company name. All rights reserved.</p>
        </div>
      </footer>
      <script src="<%= baseUrl %>/javascript/search-toggle.js"></script>
      <script src="<%= baseUrl %>/javascript/searchForm.js"></script>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="0" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Uždaryti"></button>
                    <button class="pswp__button pswp__button--share" title="Dalintis"></button>
                    <button class="pswp__button pswp__button--fs" title="Pilnas ekranas"></button>
                    <button class="pswp__button pswp__button--zoom" title="Padidinti / sumažinti"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Atgal"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Toliau"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/site/js/popper.js" type="text/javascript"></script>
    <script src="/assets/site/js/script.min.js?v=1.52" type="text/javascript"></script>
    <iframe tabindex="-1" role="presentation" aria-hidden="true" title="Blank" src="https://consentcdn.cookiebot.com/sdk/bc-v4.min.html" style="position: absolute; width: 1px; height: 1px; top: -9999px;"></iframe>

    <script>
        let tripid = '<%= trip._id %>';
        const booking_go_next = function () {
            let travArr = [];
            let tempObj = {};
            let fname, lname, personcode, email, city, birthdate, departureCity, tel;
            let travCount = '<%= ses.travellersCount.amount %>';
            let isValid = true;
            
            console.log('travcount ', travCount);
            for (let b = 0; b < travCount ; b++) {
                fname = document.getElementById(`traveller-${b}-firstname`).value;
                lname = document.getElementById(`traveller-${b}-lastname`).value;
                birthdate = document.getElementById(`traveller-${b}-birthday`).value;
                personcode = document.getElementById(`traveller-${b}-personcode`).value;
                email = document.getElementById(`traveller-${b}-email`).value;
                city = document.getElementById(`traveller-${b}-city`).value;
                const selectElement = document.getElementById(`travellers[${b}][departurecityid]`);
                const selectedIndex = selectElement.selectedIndex;
                const departureCity = selectElement.options[selectedIndex].text;
                tel = document.getElementById(`travellers-${b}-phone`).value;


                if (!fname || !lname || !birthdate || !personcode || !email || !city || !departureCity) {
                  isValid = false;
                  alert('Please fill in all required fields.');
                  break;
                }




                tempObj = {
                    fname: fname,
                    lname: lname,
                    birthdate: birthdate,
                    personcode: personcode,
                    email: email,
                    city: city,
                    departureCity: departureCity,
                    tel: tel

                };
                travArr.push(tempObj);
            }


            if(isValid){
                fetch('/update-session2', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ travArr })
                }).then(response => response.json())
                .then(data => {
                    console.log('Session updated:', data);
                    // You can redirect or update the UI here
                    return fetch(`/trip/${tripid}/buy3`);
                }).then(html => {
                    console.log('Trip details fetched:', html);
                    // Redirect to a different page
                    window.location.href = '/trip/' + tripid + '/buy3';
                })
                .catch(error => console.error('Error:', error));
              }
 
        }
        let booking_go_back = function() {
            window.location.href = '/trip/' + tripid + '/buy1';
    };

            
       
    </script>

    <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
    <div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
    <ul id="ui-id-2" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul>
    <div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
    <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
    <div id="veepn-breach-alert"></div>
    <style>@font-face{font-family:FigtreeVF;src:url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2 supports variations"),url(chrome-extension://majdfhpaihoncoakbjgbdhglocklcgno/fonts/FigtreeVF.woff2) format("woff2-variations");font-weight:100 1000;font-display:swap}</style>

</body>
</html>